/* CSS for basic browsers */
/* This is replaced by layout.css if browser understands @import */
/* Matt Hamm www.supereightstudio.com */
/* -------------------------- */

body {
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: top left;
	margin: 0;
	font-family: Arial, sans-serif;
}
