/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul{
margin: 0;
padding: 0;
font: bold 13px Tahoma;
list-style-type: none;
border-bottom: 0px solid gray;
/*background: #414141;*/
overflow: hidden;
width: 100%;
}

.mattblackmenu li{
display: inline;
margin: 0;
}

.mattblackmenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 6px 8px; /*padding inside each tab*/
border-right: 1px solid white; /*right divider between tabs*/
color: white;
/*background: #414141;*/
}

.mattblackmenu li a:visited{
color: white;
}

.mattblackmenu li a:hover{
background:#000; /*background of tabs for hover state */

}

.mattblackmenu a.selected{
	background-color: #1E1E1E;
	background-image: none;
}
.mattblackmenu a.active {
	background-color: #1E1E1E;
	background-image: none;
}
