/* CSS styles for web standards browsers */
/* Matt Hamm www.matthamm.com */

/* import CSS for compliant browsers */
/* ------------------------------------------------------- */
@import url(reset.css);
@import url(typography.css);


/* stops the nasty horizontal shift with centered layouts in moz etc */
/* html { height: 100%; margin-bottom: 1px; } */

/* overrule basic.css styles */



.clearboth {
	clear:both;
	}
span.amp {
	font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
	font-style:italic;
	font-weight:400;
	}
#wrapper {
	
	}
#inner-wrapper {
	width: 960px;
	margin: 0 auto;
	}
#mh_ribbon {
	background: url(../images/mh_ribbon.png) no-repeat;
	width: 56px;
	height: 126px;
	position: fixed;
	margin-top: -70px;
	margin-left: -110px;
	}
#navigation {
	height: 46px;
	margin-bottom: 50px;
	margin-top: 70px;
	font-family: "museo-sans-1","museo-sans-2",sans-serif;
	}
#navigation ul li {
	display: inline;
	font-weight: bold;
	}
#navigation ul li a {
	display: block;
	float: left;
	color: #505667;
	padding: 7px 15px 7px 15px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	margin-right: 10px;
	text-decoration: none;
	font-weight: bold;
	}
#navigation ul li a:hover {
	color: #ffffff;
	background: #D5D2C6;
	text-shadow: 0 1px 0 rgba(143, 141, 134, 0.5);
	border-bottom: 1px solid #ffffff;
	}
#navigation ul li a.active {
	color: #ffffff;
	background: #505667;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid #ffffff;
	}
.thick_line {
	border: 10px solid #d5d2c6;
	font-size: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	opacity: 0.5;
	}
.bevel_line {
	height: 2px;
	background: url(../images/footer_bevel.gif) repeat-x;
	font-size: 0;
	margin-bottom: 30px;
	margin-top: 30px;
	}
.bevel_line hr {
	display: none;
	}
.thick_line hr {
	display: none;
	}
ul#portfolio_list li {
	float: left;
	margin-right: 49px;
    width: 246px;
    height: 180px;
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px #bab7a7;
    -moz-box-shadow: 0px 0px 5px 0px #bab7a7;
    -webkit-box-shadow: 0px 0px 5px 0px #bab7a7;
    margin-bottom: 25px;
	}
ul#portfolio_list li cite {
	
	}
ul#portfolio_list li.first {
	clear: both;
	}
ul#portfolio_list li.end {
	margin-right: 0;
	}
.3_cols {
	
	}
.col1, .col2, .col3 {
	width: 297px;
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
	}
.col3 {
	margin-right: 0;
	margin-bottom: 50px;
	}
.col1 ul li img {
	margin-right: 5px;
}
.span2 {
	width: 624px;
	margin-right: 0;
	}
.box {
	background: url(../images/box.png) no-repeat;
	width: 292px;
	height: 171px;
	}
#footer-wrapper {
	width: 100%;
	background: #505667 url(../images/footer_background.jpg);
	height: 400px;
	float: left;
	margin-top: 30px;
	padding-top: 30px;
	}
#footer {
	width: 960px;
	margin: 0 auto;
	color:#FFFFFF;
	}
#latest_illustration {
	width: 425px;
	height: 309px;
	background: url(../images/ill_me.png) no-repeat;
	position: absolute;
	right: 150px;
	margin-top: -70px;
	}
	
/* Twitter Juitter */
#juitterContainer {
	margin-top: -30px;
	}
#juitterContainer ul {
	width: 617px;
	margin-top: 0;
	padding-top: 0;
	}
#juitterContainer ul li {
	margin-bottom: 50px;
	}
#juitterContainer ul li span.tweet {
	background: #ffffff;
	padding: 20px;
	float: left;
	font-size: 20px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	line-height: 1.1em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	}
.tweet_tail {
	background: url(../images/tweet_tail.png) no-repeat;
	width: 33px;
	height: 23px;
	position: absolute;
	margin-left: -40px;
	margin-top: -10px;
	}
#juitterContainer ul li span.time {
	float: left;
	padding-left: 50px;
	font-size: 10px;
	padding-top: 10px;
	}
#juitterContainer ul li a.JRM  {
	float: right;
	font-size: 10px;
	padding-top: 10px;
	}
#juitterContainer ul li img {
	display:none;
	}
#tweetbubble {
	background: url(../images/tweetbubble.png) no-repeat;
	width: 617px;
	height: 194px;
	}
ul#twitter_update_list {
	padding: 30px;
	font-size: 180%;
	font-family: Helvetica,"Helvetica Neue", Arial, sans-serif;
	letter-spacing: -1px;
	font-weight: bold;
	}

/* BLOG */
.entry {
	width: 565px;
	margin-bottom: 40px;
	margin-right: 30px;
	float: left;
	}
.sidebar {
	float: right;
	width: 250px;
	border: 1px solid red;
	}
.posted {
	
	}
.comment_wrapper {
	width: 525px;
	margin-bottom: 40px;
	margin-right: 30px;
	float: left;
	}
.comment {
	width: 525px;
	float: left;
	background: white;
	padding: 20px;
	}
.speech_tail {
	width: 525px;
	margin: 0;
	padding:0;
	background: url(../images/speech_tail.png) no-repeat;
	height: 38px;
	width: 101px;
	float: left;
	}
input, textarea {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-top: 5px;
	background: #FCFCFC url(../images/input_shadow.gif) repeat-x;
	padding: 10px;
	border: 1px solid #D5D2C6;
	border-bottom: 1px solid #F6F6F6;
	border-right: 1px solid #F6F6F6;
	margin-bottom: 7px;
	font-family: Arial, Helvetica, sans-serif;
	color:#666;
	font-size: 15px;
	}
input.submit {
	background: none!important;
	padding: 0!important;
	border: none;
	}
label {

}
/* jCarousel */

/**
 * This <div> element is wrapped by jCarousel around the list
 * and has the classname "jcarousel-container".
 */
.jcarousel-container {
    position: relative;
}

.jcarousel-clip {
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.jcarousel-list {
    z-index: 1;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.jcarousel-list li,
.jcarousel-item {
    float: left;
    list-style: none;
    /* We set the width/height explicitly. No width/height causes infinite loops. */
    width: 75px;
    height: 75px;
}

/**
 * The buttons are added dynamically by jCarousel before
 * the <ul> list (inside the <div> described above) and
 * have the classnames "jcarousel-next" and "jcarousel-prev".
 */
.jcarousel-next {
    z-index: 3;
    display: none;
}

.jcarousel-prev {
    z-index: 3;
    display: none;
}
