
/* CSS Document */
ul{list-style-type:none}
.search_text_field {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	background-color: #B3B3B3;
	width: 143px;
	border: 1px solid #B3B3B3;
	height: 16px;
	font-weight: normal;
	padding-left: 5px;
}
.search_btn {
	background-image: url(../images/search_im.gif);
	background-repeat: no-repeat;
	height: 17px;
	width: 24px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.menu_bg_01 {
	background-image: url(../images/menu_bg.gif);
	background-repeat: no-repeat;
	height: 48px;
	width: 967px;
}
.bg_04 {
	background-image: url(../images/inner_bg.gif);
	background-repeat: no-repeat;
	height: 341px;
	width: 321px;
	background-position: left top;
}
.text_bold {
	font-family: Tahoma;
	font-size: 13px;
	line-height: 26px;
	font-weight: bold;
	color: #FFBA53;
	text-decoration: none;
	padding-right: 10px;
	text-align: left;
}
.whitetext{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; line-height:18px;}

.orange{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFBA53; line-height:18px; text-decoration:none;}
.orange a:link, .orange a:visited, .orange a:active {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFBA53; line-height:18px; text-decoration:none;}
.orange a:hover{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFBA53; line-height:18px; text-decoration:underline;}


.red{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#dc0000; line-height:18px; text-decoration:none;}
.red a:link, .red a:visited, .red a:active {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#dc0000; line-height:18px; text-decoration:none;}
.red a:hover{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#dc0000; line-height:18px; text-decoration:underline;}

.sitemap{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; line-height:18px; text-decoration:none;}
.sitemap a:link, .sitemap a:visited, .sitemap a:active {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; line-height:18px; text-decoration:none;}
.sitemap a:hover{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#dc0000; line-height:18px; text-decoration:underline;}


.blacktxt{
font-family:Arial, Helvetica, sans-serif; 
font-size:12px; 
color:#000; 
font-weight:bold;
padding-top:3px;
text-decoration:none;
}

.blacktxt a:link, .red a:visited, .red a:active{
font-family:Arial, Helvetica, sans-serif; 
font-size:12px; 
color:#000; 
font-weight:bold;
padding-top:3px;
text-decoration:none;
}

.blacktxt a:hover{
font-family:Arial, Helvetica, sans-serif; 
font-size:12px; 
color:#dc0000; 
font-weight:bold;
padding-top:3px;
text-decoration:none;
}




.bg_purple {
	background-image: url(../images/purple_im.gif);
	background-repeat: repeat-x;
	height: 59px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #c7abbb;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #c7abbb;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
.bg_orange {
	background-image: url(../images/orange_im.gif);
	background-repeat: repeat-x;
	height: 58px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d2a890;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
.bg_blue {
	background-image: url(../images/blue_im.gif);
	background-repeat: repeat-x;
	height: 59px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #83a9c3;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
.bg_red {
	background-image: url(../images/red_im.gif);
	background-repeat: repeat-x;
	height: 59px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #c3a9b0;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
.bg_green {
	background-image: url(../images/green_im.gif);
	background-repeat: repeat-x;
	height: 59px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #8eb79b;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
.txt{
font-family:Arial, Helvetica, sans-serif; 
font-size:12px; 
color:#FFFFFF; 
font-weight:bold;
padding-top:3px;
}

.textone{
font-family:Arial, Helvetica, sans-serif; 
font-size:12px; 
color:#000;
line-height:18px;
}

.bg_01 {
	background-image: url(../images/add_range_im_01.gif);
	background-repeat: repeat-x;
	height: 30px;
	background-position: left bottom;
}
.bg_02 {
	background-image: url(../images/center.gif);
	background-repeat: repeat-x;
	height: 4px;
}



.Sitemap12{background-image:url(../images/sitemap.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.disbot{background-image:url(../images/disclaimerbot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}




.bollroller{background-image:url(../images/ballroller.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.bollrollerrefill{background-image:url(../images/ballroller_refill.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.botroller{background-image:url(../images/bot_rollover.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}

.tellafriend{background-image:url(../images/tell.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}



.gelpen{background-image:url(../images/gelpenbg.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.gelpenrefill{background-image:url(../images/gelprefillbg.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.gelbot{background-image:url(../images/gelbot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}


.exclusive{background-image:url(../images/exclusivebg.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.exclusiverefill{background-image:url(../images/exclusivebgrefill.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.botexclusive{background-image:url(../images/exclusivebot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}

.gelroller{background-image:url(../images/gelroller.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.gelrollerrefill{background-image:url(../images/gelrollerrefill.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.gelrollerbot{background-image:url(../images/gellrollerbot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}


.liquid{background-image:url(../images/liquid.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.liquidrefill{background-image:url(../images/liquidrefill.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.liquidrbot{background-image:url(../images/liquidbot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}

.firs{background-image:url(../images/firs_bg.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.firr{background-image:url(../images/firr_bg.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.premimum{background-image:url(../images/premum.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.premimumbot{background-image:url(../images/premumbot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}

.aboutus{background-image:url(../images/aboutus.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.search{background-image:url(../images/search_t.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.disclaimer{background-image:url(../images/disclaimer_t.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.privacy{background-image:url(../images/privacy_t.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.aboutusbot{background-image:url(../images/abtbot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}
.bussiness{background-image:url(../images/business_dartners.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}

.vidio{background-image:url(../images/vidio.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.conatct{background-image:url(../images/contact.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.institutinal{background-image:url(../images/institutinal.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}

.international{background-image:url(../images/international.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.internationalbot{background-image:url(../images/internationalbot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}

.sitemap{background-image:url(../images/sitemap_t.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}


.video{background-image:url(../images/video_t.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.videobot{background-image:url(../images/videobot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}
.download{background-image:url(../images/download_t.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.downloadbot{background-image:url(../images/downloadbot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}
.wall{background-image:url(../images/wall_t.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.wallbot{background-image:url(../images/wallbot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}
.press{background-image:url(../images/press_t.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.pressbot{background-image:url(../images/pressbot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}
.pso{background-image:url(../images/pso_t.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.psobot{background-image:url(../images/psobot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}


.careers{background-image:url(../images/careers_t.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.careersbot{background-image:url(../images/careersbot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}




.enquiry{background-image:url(../images/Enquiry.gif); background-repeat:no-repeat; background-position:right top; height:192px;}
.select{border:1px solid #999999; width:150px; height:20px;}
.select_a{border:1px solid #999999; width:250px; height:20px;}
.selectone{border:1px solid #999999; width:150px; height:40px;}

.premimumbotsoftline{background-image:url(../images/softlinefootbg_00pg.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}

.side_links
{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	
}



.side_links:hover {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color:Red;
}


.side_about
{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;	
	margin-left:3px;
}
.side_about a
{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;	
	margin-left:3px;
}
.side_about a:hover
{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: Red;	
	margin-left:3px;
}


.side_links1 {
	font-family: Arial;
	font-size: 12px;
	font-weight:bolder;
	text-decoration: none;
	color: #000000;
	
}


.side_links1 ul {
	font-family: Arial;
	color:#218AC4;
	font-size: 12px;
	font-weight:bolder;
	text-decoration: none;
}	




.main_cat{
 /*width: 100%;width of accordion menu*/
 
 font-family: Arial;
	font-size: 13px;
	font-weight: bolder;
	text-decoration: none;
	color: #218AC4;
margin-top: 10px;
margin-bottom:10px;
height:40px;

}

.arrowlistmenu{
width: 100%; /*width of accordion menu*/
margin-bottom: 5px;
	font-weight: bolder;
}

.arrowlistmenu .menuheader{ /*CSS class for menu headers in general (expanding or not!)*/
font: bold 12px Arial;
color: #000000;
font-weight:bolder;
margin-top: 5px;
margin-bottom:5px; /*bottom spacing between header and rest of content*/
padding: 0px 0 0px 0px; /*header text is indented 10px*/
cursor: hand;
cursor: pointer;
/*border-bottom: 1px solid #dadada;*/
}

.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/

}

.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
 font-family: Arial;
	font-size: 13px;
	font-weight:bolder; 
margin: 0;
padding: 0;
margin-bottom: 0px; /*bottom spacing between each UL and rest of content*/
padding-left:0px;


}

.arrowlistmenu ul li{
padding-bottom: 0px; /*bottom spacing between menu items*/
padding-left: 2px;
	font-weight:bolder;
}

.arrowlistmenu ul li a{
color: #000000;

	font-weight:lighter;
padding-left: 2px; /*

padding: 0px 0;
link text is indented 19px*/
text-decoration: none;
font: normal 12px Arial;

/**height:4px;

border-bottom: 0px solid #dadada;*/

}

.arrowlistmenu ul li a:visited{
    color : #000000;
	font-weight:lighter;
}
.arrowlistmenu ul li a:hover{ /*hover state CSS*/
font-weight: bold;
color: Red;

}


.bot_text_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000; text-decoration:none;
}
.bot_text_link a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000; text-decoration:none;
}
.bot_text_link a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000; text-decoration:none;
}


.search_b {
	background-image: url(../images/search_bar.jpg);
	background-repeat: no-repeat;
	height: 21px;
	width: 173px;
}

.link{
font-family:Arial, Helvetica, sans-serif; 
font-size:12px; 
color:#888888; 
font-weight: normal;
text-decoration:none;
}

.link a:link{
font-family:Arial, Helvetica, sans-serif; 
font-size:12px; 
color:#888888; 
font-weight: normal;
text-decoration:none;
}

.link a:hover{
font-family:Arial, Helvetica, sans-serif; 
font-size:12px; 
color:#dc0000; 
font-weight: normal;
text-decoration:none;
}








.netra
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #888888;	
	
}
.netra a
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #888888;	
	
}
.netra a:hover
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: Red;	
	
}



















.redtxt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#DC0000;
	font-weight:bold;
	text-decoration:none;
}
.textbox
{
	border:1px solid #DBDBDB;
	font-family: Arial, Helvetica, sans-serif;
	color:#646464; width:195px;font-size: 11px;
}
.textbox_a
{
	border:1px solid #DBDBDB;
	font-family: Arial, Helvetica, sans-serif;
	color:#646464; width:125px;font-size: 11px; margin-top:3px;
}
.border_a {
	border: 1px solid #cccccc;
}
.heading_red{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: Red;
	text-decoration:none;
	font-weight: bold;
}


.heading{
font-family:Arial, Helvetica, sans-serif; 
font-size:14px; 
color:#000; 
font-weight:bold;
padding-top:3px;
text-decoration:none;
}




.generalerror{background-image:url(../images/general_error_t.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.forbidden{background-image:url(../images/forbidden_t.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.pagenotfound{background-image:url(../images/pagenotfound_t.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.internalerror{background-image:url(../images/internalerror_t.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}


.schoolmate{background-image:url(../images/schoolmatebg.png); background-repeat:no-repeat; background-position:right top; height:192px;}
.gelpenrefill{background-image:url(../images/gelprefillbg.jpg); background-repeat:no-repeat; background-position:right top; height:192px;}
.gelbot{background-image:url(../images/gelbot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}


.Next_gen_bot{background-image:url(../images/Net_Gen_Blue_bot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}
.Gift_bot{background-image:url(../images/Gift_bot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}
.schoolbot{background-image:url(../images/schoolbot.jpg); background-repeat:no-repeat; background-position:right bottom; height:292px;}
























