/* ######### Drop Down ULs CSS ######### */


.ddsubmenustyle, .ddsubmenustyle ul{
	font: normal 12px Tahoma;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	list-style-type: none;
	background: #8e8a89;
	border: 1px solid #8e8a89;
	border-bottom-width: 0;
	z-index: 100;
	visibility: hidden;
}

.ddsubmenustyle li a{
display: block;
width: 160px; /*width of menu (not including side paddings)*/
color:#fff;
background-color:#8c8887;
text-decoration: none;
padding: 4px 5px;
border-bottom: 1px solid gray;
}

* html .ddsubmenustyle li{ /*IE6 CSS hack*/
display: inline-block;
width: 150px; /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle li a:hover{
background-color: #625f5e;
color:000000;
}

/* ######### Neutral CSS  ######### */

.downarrowpointer{ /*CSS for "down" arrow image added to top menu items*/
padding-left: 4px;
border: 0;
}

.rightarrowpointer{ /*CSS for "right" arrow image added to drop down menu items*/
position: absolute;
padding-top: 3px;
left: 100px;
border: 0;
}

.ddiframeshim{
position: absolute;
z-index: 500;
background: transparent;
border-width: 0;
width: 0;
height: 0;
display: block;
}
