﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="about.ascx.cs" Inherits="about" %>
<link href="css/style.css" rel="stylesheet" type="text/css" />     






<table width="226" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="left" valign="top"><img src="images/quicklinks.gif" width="226" height="37" /></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" background="images/prbg.gif">
                          
                          
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="1%" align="left" valign="top">&nbsp;</td>
                              <td width="99%" align="left" valign="top">
                              
                              
                              
                               <table width="100%" border="0" cellpadding="0" cellspacing="0" class="data">
        
         
         
          <tr   >
            <td align="left" valign="top">&nbsp;</td>
            <td  align="left">
            
            <div  class="menuheader expandable"><span><img src="images/bullet.gif" width="8" height="8" /></span>&nbsp; <a class='side_links1' href='#' onclick=\"ajax_loadContent("aboutus.aspx&imgname=vishal","info","ajaxloader.gif");return false\" >About Us</a></div>
            
                <ul class="categoryitems" style="margin:0px; padding:0px; ">       
             <li class="side_about"><span><a  href="aboutus.aspx" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quality Quest</a></span></li>
             <li class="side_about"><span><a  href="technology_first.aspx">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Technology First</a></span></li>
             <li class="side_about"><span><a  href="winning.aspx" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Winning By Design</a></span></li>
          <%--   <li class="side_about"><span><a  href="attractive_prices.aspx" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Attractive Price</a></span></li>--%>
             <li class="side_about"><span><a  href="detailed.aspx" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Detailed to<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Perfection</a></span></li>
             <li class="side_about"><span><a  href="reaching.aspx" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reaching Out</a></span></li>
             </ul>  
            
            
            
            
                 
         <%--    <ul class="categoryitems">       
             <li class="side_about"><span><a  href="aboutus.aspx" >&nbsp;Quality Quest</a></span></li>
             <li class="side_about"><span><a  href="technology_first.aspx">&nbsp;Technology First</a></span></li>
             <li class="side_about"><span><a  href="winning.aspx" >&nbsp;Winning By Design</a></span></li>
             <li class="side_about"><span><a  href="attractive_prices.aspx" >&nbsp;Attractive Price</a></span></li>
             <li class="side_about"><span><a  href="detailed.aspx" >&nbsp;Detailed To Perfection</a></span></li>
             <li class="side_about"><span><a  href="reaching.aspx" >&nbsp;Reaching Out</a></span></li>
             </ul> 
             --%>
                  
            </td>
          </tr>         
        <%--  <tr>
            <td colspan="2" align="left">           
            
             
            
            </td>
          </tr>--%>
          <tr>
            <td align="left" valign="middle">&nbsp;</td>
            <td height="10" >           
            
             <div><span class="blacktxt"><img src="images/bullet.gif" width="8" height="8" /></span>&nbsp; <a class="side_links1" href="history.aspx">History</a></div>
             <div><span class="blacktxt"><img src="images/bullet.gif" width="8" height="8" /></span>&nbsp; <a class="side_links1" href="Infrastructure.aspx">Infrastructure</a></div>
             <div><span class="blacktxt"><img src="images/bullet.gif" width="8" height="8" /></span>&nbsp; <a class="side_links1" href="mission.aspx" >Mission Statement</a></div>
             <div><span class="blacktxt"><img src="images/bullet.gif" width="8" height="8" /></span>&nbsp; <a class="side_links1" href="awards.aspx">Awards/Certification</a></div>
             <div><span class="blacktxt"><img src="images/bullet.gif" width="8" height="8" /></span>&nbsp; <a class="side_links1" href="quilityrd.aspx">Quality/ R & D</a></div>
              
              
              
                  
                       
           </td>
          </tr>
        
          
        </table>
                              
                              
                              
                              
                              </td>
                            </tr>
                          </table>                         </td>
                          </tr>
                        <tr>
                          <td align="left" valign="top"><img src="images/bot.gif" width="226" height="16" /></td>
                        </tr>
                      </table>