﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="app.ascx.cs" Inherits="app" %>
<link href="css/style.css" rel="stylesheet" type="text/css" /> 
<table width="90%" border="0" cellspacing="0" cellpadding="0">

<tr> 
    <td align="left" valign="top">
        <asp:Label ID="lblapplication" runat="server" ></asp:Label>
      
  
      </td>
  </tr>
 
 <%--  <tr>
                <td align="center"><img id="Img3" alt= "" runat="server" src="images/spacer.jpg" width="10" height="10" /></td>
              </tr>--%>
              <tr>
                <td align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">

                    <tr>
                      <td align="left" valign="top">
                     
                      
                      &nbsp;</td>
                    </tr>
                </table></td>
              </tr>


</table>
