﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AttractivePrices.ascx.cs" Inherits="AttractivePrices" %>
<div align="justify"><asp:Label ID="lblattractiveprices" runat="server" ></asp:Label></div>