﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AwardsNCertification.ascx.cs" Inherits="AwardsNCertification" %>
<div align="justify"><asp:Label ID="lblattractiveprices" runat="server" ></asp:Label></div>