﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DetailedToPerfection.ascx.cs" Inherits="DetailedToPerfection" %>
<div align="justify"><asp:Label ID="lbldetailedtoperfection" runat="server" ></asp:Label></div>
