﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="download.ascx.cs" Inherits="download" %>



<table width="226" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="left" valign="top"><img src="images/quicklinks.gif" width="226" height="37" /></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" background="images/prbg.gif">
                          
                          
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="1%" align="left" valign="top">&nbsp;</td>
                              <td width="99%" align="left" valign="top">
                              
                              
                              
                               <table width="100%" border="0" cellpadding="0" cellspacing="0" class="data">
        
         
         
                   
                  <tr>
            <td align="left" valign="middle">&nbsp;</td>
            <td height="10" >           
            
             <div ><span class="blacktxt"><img src="images/bullet.gif" width="8" height="8" /></span>&nbsp; <a class="side_links1" href="wallpaper.aspx">Download</a></div>
             <div ><span class="blacktxt"><img src="images/bullet.gif" width="8" height="8" /></span>&nbsp; <a class="side_links1" href="institutional_sales.aspx">Institutional Sales</a></div>
             <div ><span class="blacktxt"><img src="images/bullet.gif" width="8" height="8" /></span>&nbsp; <a class="side_links1" href="international_division.aspx" >International Divison</a></div>
             <div ><span class="blacktxt"><img src="images/bullet.gif" width="8" height="8" /></span>&nbsp; <a class="side_links1" href="careers.aspx">Careers</a></div>
             <div ><span class="blacktxt"><img src="images/bullet.gif" width="8" height="8" /></span>&nbsp; <a class="side_links1" href="contactus.aspx">Contact Us</a></div>
              
              
              
                  
                       
           </td>
          </tr>
        
          
        </table>
                              
                              
                              
                              
                              </td>
                            </tr>
                          </table>                         </td>
                          </tr>
                        <tr>
                          <td align="left" valign="top"><img src="images/bot.gif" width="226" height="16" /></td>
                        </tr>
                      </table>