.flexdropdownmenu, .flexdropdownmenu ul{ /*topmost and sub ULs, respectively*/
	font: normal 13px Verdana;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	list-style-type: none;
	background: white;
	border: 1px solid #808080;
	border-bottom-width: 0;
	visibility: hidden;
	display: none; /*collapse all sub menus to begin with*/
	 /*box-shadow: 3px 3px 8px #818181;shadow for CSS3 capable browsers.
	-webkit-box-shadow: 3px 3px 8px #818181;
	-moz-box-shadow: 3px 3px 8px #818181;*/
	text-align: left;
}


.flexdropdownmenu li{
position: relative;
}

.flexdropdownmenu li a{
	display: block;
	width: 160px; /*width of menu (not including side paddings)*/
	color: #FFFFFF;
	border-bottom: 1px solid #625f5e;
	text-decoration: none;
	padding: 5px 3px;
	 
	background-color: #8c8887;
}

* html .flexdropdownmenu li{ /*IE6 CSS hack*/
display: inline-block;
width: 170px; /*width of menu (include side paddings of LI A*/
}

.flexdropdownmenu li a:hover, .flexdropdownmenu li.selected>a{
	background: #625f5e;
}

.rightarrowclass
{
position: absolute;
top: 6px;
/*width of menu (include side paddings of LI A*/
right: 5px;
}
