﻿<%@ Page Language="C#" MasterPageFile="~/Index.master" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="index" Title="ADD Gel" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <table width="1000px" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" align="center">
      <tr>
     
        <td align="left" valign="top" >

<%--<input type=button value="Open the Popup Window" onclick="javascript:popUp('')">--%>
        <img src="images/spacer.gif" width="10" height="10" /></td>
      </tr>
      <tr>
        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="15" align="left" valign="top"><img src="images/spacer.gif" width="15" height="1" /></td>
                 
                  <td width="652"  align="left" valign="top">
                  <div id="gallery"><a href="#" class="show"><img src="images/sf01.jpg" alt="Balll Roller Series" width="652" height="341" rel="<h3>Balll Roller Series </h3>The grace and elegance of this range of products are the key features. The pens in this range are similar to rhythm of music as they glide on paper and give super smooth writing experience."/></a><a href="#">
		<img src="images/sf04.jpg" alt="Gel Pen Series" width="652" height="341" rel="<h3>Gel Pen Series</h3>A unique combination of convenience of ballpoint and the smooth writing experience of water based ink pen in one. This combination of excellent craftsmanship with innovative technology, gives it excellent smoothness and effortless writing experience. These pens are perfect for writing on a wide range of papers and are meant for people who prefer dark and bold style, giving an image of power and royalty."/>	</a>
	
	<a href="#">
		<img src="images/sf10.jpg" alt="Exclusives Pen" width="652" height="341" rel="<h3>Exclusives Pen</h3>The combination of luxury, elegance and style is ADD Exclusives, a refined blend of perfection and performance. It is a perfect combination of aesthetics and silk sooth ink flow making every ADD Exclusive a gift to treasure. A timeless classic designed pen that write as smooth as it looks and projects an image of power and royalty that attracts achievers making it a statement of impeccable taste."/></a>

	<a href="#">
		<img src="images/sf14.jpg" alt="Gel Roller Series" width="652" height="341" rel="<h3>Gel Roller Series</h3>Each of these finely crafted pens are elegant and class personified, the unbeatable combination of sophisticated look and advanced technology with beautifully crafted body gives it a sleek and elegant look to match any occasion. The elegance, the class and the sheer feeling of putting it to paper, sets these pens apart."/>	</a>
	
	<a href="#">
		<img src="images/sf15.jpg" alt="Liquid Fluid Series" width="652" height="341" rel="<h3>Liquid Fluid Series </h3>With our state of the art technology and detailed to perfection, we improved the ballpoint technology by ensuring perfect match between the ink and the tip to suit all conditions. ADD Liquid Fluid pens that have been designed with anti leak technology to give you perfection for all occasion."/>        </a>
	

		
	<a href="#">
		<img src="images/sf19.jpg" alt="Premium Stationery " width="652" height="341" rel="<h3>Premium Stationery </h3>We present a wide array of products that offer complete writing solution ranging from marker to mechanical pencils, at par with the best in the world. Our products are know and appreciated for quality, affordability and ease of use that have been the part of the daily lives of all our costumers. "/>	</a>
	
	
	
	

	<div class="caption"><div class="content"></div></div>
</div>                  </td>
                  <td width="321" valign="top" class="bg_04"><table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="text_bold">At Add Pens Private Limited.</td>
                    </tr>
                    <tr>
                      <td class="whitetext">Quality is top most priority. quality that stems <br />
                        from innovation,tireless reserach and development,
                        analyzing worldwide trends in writing technology. 
                        To top it all, tracking Consumer needs and
                        responding to them.</td>
                    </tr>
                    <tr>
                      <td class="text"><img src="images/spacer.gif" width="1" height="15" /></td>
                    </tr>
                    
                    <tr>
                      <td class="orange"><a href="aboutus.aspx">More &gt;&gt;</a></td>
                    </tr>
                  </table></td>
                  <td width="12"  align="right" valign="top"><img src="images/spacer.gif" width="15" height="1" /></td>
                </tr>
                <tr>
                  <td colspan="4" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="15"><img src="images/spacer.gif" width="15" height="1" /></td>
                    <td width="194" class="bg_purple">Finest <br />
                      Writing</td>
                    <td width="1"><img src="images/spacer.gif" width="1" height="1" /></td>
                    <td width="193" class="bg_orange">Premium<br />
                      Quality</td>
                    <td width="1"><img src="images/spacer.gif" width="1" height="1" /></td>
                    <td width="193" class="bg_blue">Elegant<br />
                      Design</td>
                    <td width="1"><img src="images/spacer.gif" width="1" height="1" /></td>
                    <td width="193" class="bg_red">Smooth<br />
                      Writing</td>
                    <td width="1"><img src="images/spacer.gif" width="1" height="1" /></td>
                    <td width="193" class="bg_green">Attractive <br />
                      Price</td>
                    <td width="15">&nbsp;</td>
                  </tr>
              </table></td>
                </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                  <td colspan="2"  align="center" valign="top" bgcolor="#8b8686"><marquee behavior="alternate" class="txt">
                      LEADERS IN WRITING TECHNOLOGY
                  </marquee></td>
                  <td  align="right" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="4" align="left" valign="top"><img src="images/spacer.gif" width="10" height="10" /></td>
                </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                  <td colspan="2"  align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="26%" align="left" valign="top"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="366" height="225">
                        <param name="movie" value="newlounch.swf" />
                        <param name="quality" value="high" />
                         <param name="Wmode" value="transparent" />
                        <embed src="newlounch.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="366" height="225"></embed>
                      </object></td>
                      <td width="74%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="right" valign="top"><img src="images/film.jpg" width="582" height="130" border="0" usemap="#Map" /></td>
                        </tr>
                        <tr>
                          <td align="right" valign="top"><img src="images/spacer.gif" width="1" height="5" /></td>
                        </tr>
                        <tr>
                          <td align="right" valign="top"><table width="95%" border="0" align="right" cellpadding="0" cellspacing="0" bgcolor="#EFEFEF">
                            <tr>
                              <td><img src="images/spacer.gif" width="10" height="5" /></td>
                            </tr>
                            <tr>
                              <td align="center"><div class="marquee" id="mycrawler2">
<img src="images/1.jpg" /> <img src="images/2.jpg" /> <img src="images/3.jpg" /> <img src="images/4.jpg" /> <img src="images/5.jpg" /> <img src="images/6.jpg" /></div>

<script type="text/javascript">
marqueeInit({
	uniqueid: 'mycrawler2',
	style: {
		'padding': '2px',
		'width': '550px',
		'height': '79px'
	},
	inc: 5, //speed - pixel increment for each iteration of this marquee's movement
	mouse: 'cursor driven', //mouseover behavior ('pause' 'cursor driven' or false)
	moveatleast: 3,
	neutral: 150,
	savedirection: true
});
</script></td>
                            </tr>
                            <tr>
                              <td height="6"><img src="images/spacer.gif" width="1" height="5" /></td>
                            </tr>
                          </table></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                  <td  align="right" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="4" align="left" valign="top"><img src="images/spacer.gif" width="10" height="10" /></td>
                </tr>
                
               
          </table></td>
      </tr>
    </table>
     <map name="Map" id="Map"><area shape="rect" coords="230,42,331,110" href="VideoGallery.aspx?vid=1" />
<area shape="rect" coords="339,43,441,111" href="VideoGallery.aspx?vid=2" />
<area shape="rect" coords="451,38,554,110" href="VideoGallery.aspx?vid=4" />
</map>
</asp:Content>

