﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Infrastructure.ascx.cs" Inherits="Infrastructure" %>
<div align="justify"><asp:Label ID="lblattractiveprices" runat="server" ></asp:Label></div>