﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="InstitutionalSales.ascx.cs" Inherits="InstitutionalSales" %>
<div align="justify"><asp:Label ID="lblattractiveprices" runat="server" ></asp:Label></div>