﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="InternationalDivision.ascx.cs" Inherits="InternationalDivision" %>
<div align="justify"><asp:Label ID="lblattractiveprices" runat="server" ></asp:Label></div>