﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="main.master.cs" Inherits="main" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>




    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="Shortcut Icon" href="http://www.addpens.com/images/fav.ico">
    <%--<link href="CSS/thickbox.css" rel="stylesheet" type="text/css" />  --%>
    <script type="text/javascript" src="jquery1.min.js"></script>
    <!--Top scroll -->

    <script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
    <%--<script src="jquery-1.2.6.pack.js" type="text/javascript"></script>--%>
    <script language="javascript" type="text/javascript" src="js-top/jquery.js"></script>

    <script type="text/javascript" src="ddaccordion.js"></script>
    <%--
<script src="js/jquery.min.js" type="text/javascript"></script>--%>
    <%--
<script type="text/javascript" src="animatedcollapse.js"></script>--%>


    <script type="text/javascript" src="js-top/showimageajax.js"></script>



    <script type="text/javascript">


        ddaccordion.init({
            headerclass: "expandable", //Shared CSS class name of headers group that are expandable
            contentclass: "categoryitems", //Shared CSS class name of contents group
            revealtype: "mouseover", //Reveal content when user clicks or onmouseover the header? Valid value: "click" or "mouseover
            mouseoverdelay: 0, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
            collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
            defaultexpanded: [0], //index of content(s) open by default [index1, index2, etc]. [] denotes no content
            onemustopen: true, //Specify whether at least one header should be open always (so never all headers closed)
            animatedefault: false, //Should contents open by default be animated into view?
            persiststate: true, //persist state of opened contents within browser session?
            toggleclass: ["", "openheader"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
            togglehtml: ["prefix", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
            animatespeed: "normal", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
            oninit: function (headers, expandedindices) { //custom code to run when headers have initalized
                //do nothing
            },
            onopenclose: function (header, index, state, isuseractivated) { //custom code to run whenever a header is opened or closed
                //do nothing
            }
        })


    </script>



    <style type="text/css">
        .main_cat {
            /*width: 100%;width of accordion menu*/
            font-family: Arial;
            font-size: 13px;
            font-weight: bold;
            text-decoration: none;
            color: #218AC4;
            margin-top: 10px;
            margin-bottom: 10px;
            height: 40px;
        }

        .arrowlistmenu {
            width: 100%; /*width of accordion menu*/
            margin-bottom: 5px;
        }

            .arrowlistmenu .menuheader { /*CSS class for menu headers in general (expanding or not!)*/
                font: normal 12px Arial;
                color: #000000;
                margin-top: 5px;
                margin-bottom: 5px; /*bottom spacing between header and rest of content*/
                padding: 0px 0 0px 0px; /*header text is indented 10px*/
                cursor: hand;
                cursor: pointer;
                /*border-bottom: 1px solid #dadada;*/
            }

            .arrowlistmenu .openheader { /*CSS class to apply to expandable header when it's expanded*/
            }

            .arrowlistmenu ul { /*CSS for UL of each sub menu*/
                list-style-type: none;
                margin: 0;
                padding: 0;
                margin-bottom: 5px; /*bottom spacing between each UL and rest of content*/
                padding-left: 0px;
            }

                .arrowlistmenu ul li {
                    padding-bottom: 0px; /*bottom spacing between menu items*/
                    padding-left: 2px;
                }

                    .arrowlistmenu ul li a {
                        color: #000000;
                        display: block;
                        padding-left: 2px; /*

padding: 0px 0;
link text is indented 19px*/
                        text-decoration: none;
                        font: normal 12px Arial;
                        /**height:4px;

border-bottom: 0px solid #dadada;*/
                    }

                        .arrowlistmenu ul li a:visited {
                            color: #000000;
                        }

                        .arrowlistmenu ul li a:hover { /*hover state CSS*/
                            color: #000000;
                            background-color: Transparent;
                        }

        .style2 {
            width: 740px;
        }
    </style>

    <style type="text/css">
        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            background-image: url(images/bg.gif);
        }

        .clear {
            clear: both;
        }

        #gallery {
            position: relative;
            height: 341px;
            margin-left: 0px;
        }

            #gallery a {
                float: left;
                position: absolute;
            }

                #gallery a img {
                    border: none;
                }

                #gallery a.show {
                    z-index: 500;
                }

            #gallery .caption {
                z-index: 600;
                background-color: #000;
                color: #ffffff;
                height: 100px;
                width: 100%;
                position: absolute;
                bottom: 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
            }

                #gallery .caption .content {
                    margin: 5px;
                }

                    #gallery .caption .content h3 {
                        margin: 0;
                        padding: 0;
                        color: #fff;
                        font-size: 14px;
                        font-family: Arial, Helvetica, sans-serif;
                    }

        .txt {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: #FFFFFF;
            font-weight: bold;
        }
    </style>

    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/ddlevelsmenu-base.css" />
    <link rel="stylesheet" type="text/css" href="css/ddlevelsmenu-topbar.css" />
    <link rel="stylesheet" type="text/css" href="css/ddlevelsmenu-sidebar.css" />

    <script type="text/javascript" src="css/ddlevelsmenu.js">


    </script>

    <script type="text/javascript" src="css/jquery-1.3.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            //Execute the slideShow
            slideShow();

        });

        function slideShow() {

            //Set the opacity of all images to 0
            $('#gallery a').css({ opacity: 0.0 });

            //Get the first image and display it (set it to full opacity)
            $('#gallery a:first').css({ opacity: 1.0 });

            //Set the caption background to semi-transparent
            $('#gallery .caption').css({ opacity: 0.7 });

            //Resize the width of the caption according to the image width
            $('#gallery .caption').css({ width: $('#gallery a').find('img').css('width') });

            //Get the caption of the first image from REL attribute and display it
            $('#gallery .content').html($('#gallery a:first').find('img').attr('rel'))
        .animate({ opacity: 0.7 }, 400);

            //Call the gallery function to run the slideshow, 6000 = change to next image after 6 seconds
            setInterval('gallery()', 6000);

        }

        function gallery() {

            //if no IMGs have the show class, grab the first image
            var current = ($('#gallery a.show') ? $('#gallery a.show') : $('#gallery a:first'));

            //Get next image, if it reached the end of the slideshow, rotate it back to the first image
            var next = ((current.next().length) ? ((current.next().hasClass('caption')) ? $('#gallery a:first') : current.next()) : $('#gallery a:first'));

            //Get next image caption
            var caption = next.find('img').attr('rel');

            //Set the fade in effect for the next image, show class has higher z-index
            next.css({ opacity: 0.0 })
        .addClass('show')
        .animate({ opacity: 1.0 }, 1000);

            //Hide the current image
            current.animate({ opacity: 0.0 }, 1000)
        .removeClass('show');

            //Set the opacity to 0 and height to 1px
            $('#gallery .caption').animate({ opacity: 0.0 }, { queue: false, duration: 50 }).animate({ height: '1px' }, { queue: true, duration: 300 });

            //Animate the caption, opacity to 0.7 and heigth to 100px, a slide up effect
            $('#gallery .caption').animate({ opacity: 0.7 }, 100).animate({ height: '100px' }, 500);

            //Display the content
            $('#gallery .content').html(caption);


        }

    </script>
    <style type="text/css">

</style>
    <script type="text/javascript" src="crawler.js">
    </script>



    <link rel="stylesheet" type="text/css" href="flexdropdown.css" />
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="flexdropdown.js"></script>


    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <table width="1000px" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" align="center">
                <tr>
                    <td colspan="2" align="left" valign="top">
                        <img src="images/spacer.gif" width="5" height="10" /></td>
                </tr>
                <tr>
                    <td width="26%" align="left" valign="top">
                        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="263" height="67">
                            <param name="movie" value="logo.swf" />
                            <param name="quality" value="high" />
                            <param name="wmode" value="transparent" />
                            <embed src="logo.swf" width="263" height="67" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
                        </object>
                    </td>
                    <td width="74%" align="right" valign="top">
                        <table width="239" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td><a href="http://shop.addpens.com/index.php/" target="_blank" style="text-decoration: none;text-align: right;float: right;margin-right: 10px;color: #05080f;"><img src="images/Button-Online-Shop_02.png" /> </a> </td>

                                <td>
                                    <table width="239" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="173" align="right" valign="middle">
                                                <table width="173" border="0" cellspacing="0" cellpadding="0" class="search_b">
                                                    <tr>
                                                        <td align="left" valign="top" width="143">
                                                            <asp:TextBox ID="TxtSearch" CssClass="search_text_field" value="I am searching for" onfocus="if(this.value=='I am searching for')value='';" onblur="if(this.value=='')value='I am searching for';" runat="server"></asp:TextBox></td>
                                                        <td align="left" valign="top" width="20">
                                                            <asp:ImageButton ID="ImageButton1" runat="server"
                                                                ImageUrl="images/spacer.gif" Width="20" Height="21" border="0"
                                                                OnClick="ImageButton1_Click" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <img src="images/spacer.gif" width="7" height="1" /></td>
                                            <td width="21" align="right" valign="middle"><a href="index.aspx">
                                                <img src="images/home_im.gif" width="21" height="21" border="0" /></a></td>
                                            <td width="5">
                                                <img src="images/spacer.gif" width="5" height="1" /></td>
                                            <td width="21" align="right" valign="middle"><a href="Sitemap.aspx">
                                                <img src="images/sitemap_im.gif" width="21" height="21" border="0" /></a></td>
                                            <td width="13">
                                                <img src="images/spacer.gif" width="10" height="1" /></td>
                                        </tr>
                                    </table>
                                    <%--<table width="239" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="149"><asp:TextBox ID="TxtSearch" CssClass="search_text_field" value="I am searching for" onfocus="if(this.value=='I am searching for')value='';" onblur="if(this.value=='')value='I am searching for';" runat="server"></asp:TextBox></td>
                                <td width="24"><asp:ImageButton ID="ImageButton1" runat="server" 
                              width="27" height="21" ImageUrl="images/search_im.gif" 
                                        onclick="ImageButton1_Click" />                                </td>
                                <td><img src="images/spacer.gif" width="7" height="1" /></td>
                                <td width="21"><a href="index.aspx"><img src="images/home_im.gif" width="21" height="21" border="0" /></a></td>
                                <td width="5"><img src="images/spacer.gif" width="5" height="1" /></td>
                                <td width="21"><a href="Sitemap.aspx"><img src="images/sitemap_im.gif" width="21" height="21" border="0" /></a></td>
                                <td width="13"><img src="images/spacer.gif" width="10" height="1" /></td>
                              </tr>
                          </table>--%></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="images/spacer.gif" width="1" height="20" /></td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <table width="239" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="226" align="right" valign="top">
                                                <img src="images/call_im.gif" width="210" height="21" /></td>
                                            <td width="13">
                                                <img src="images/spacer.gif" width="13" height="1" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="left" valign="top">
                        <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="12">
                                    <img src="images/spacer.gif" width="10" height="1" /></td>
                                <td align="right">

                                    <table width="974" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="79" align="left" valign="top"><a href="index.aspx">
                                                <img src="images/menu_a.gif" width="79" height="49" border="0" class="domroll images/menu_a_hover.gif" /></a></td>
                                            <td width="1" align="left" valign="top">
                                                <img src="images/mid.gif" width="1" height="49" /></td>
                                            <td width="119" align="left" valign="top"><a href="#" data-flexmenu="flexmenu1">
                                                <img src="images/menu_b.gif" width="95" height="49" border="0" class="domroll images/menu_b_hover.gif" /></a></td>
                                            <td width="1" align="left" valign="top">
                                                <img src="images/mid.gif" width="1" height="49" /></td>
                                            <td width="118" align="left" valign="top"><a href="#" data-flexmenu="flexmenu2">
                                                <img src="images/menu_c.gif" width="96" height="49" border="0" class="domroll images/menu_c_hover.gif" /></a></td>
                                            <td width="1" align="left" valign="top">
                                                <img src="images/mid.gif" width="1" height="49" /></td>
                                            <td width="130" align="left" valign="top"><a href="#" data-flexmenu="flexmenu3">
                                                <img src="images/menu_d.gif" width="110" height="49" border="0" class="domroll images/menu_d_hover.gif" /></a></td>
                                            <td width="1" align="left" valign="top">
                                                <img src="images/mid.gif" width="1" height="49" /></td>
                                            <td width="173" align="left" valign="top"><a href="institutional_sales.aspx">
                                                <img src="images/menu_e.gif" width="159" height="49" border="0" class="domroll images/menu_e_hover.gif" /></a></td>
                                            <td width="1" align="left" valign="top">
                                                <img src="images/mid.gif" width="1" height="49" /></td>
                                            <td width="183" align="left" valign="top"><a href="international_division.aspx">
                                                <img src="images/menu_f.gif" width="176" height="49" border="0" class="domroll images/menu_f_hover.gif" /></a></td>
                                            <td width="1" align="left" valign="top">
                                                <img src="images/mid.gif" width="1" height="49" /></td>

                                            <td><a href="careers.aspx">
                                                <img src="images/menu_g.gif" width="91" height="49" border="0" class="domroll images/menu_g_hover.gif" /></a></td>
                                            <td width="1" align="left" valign="top">
                                                <img src="images/mid.gif" width="1" height="49" /></td>
                                            <td width="114" align="left" valign="top"><a href="contactus.aspx">
                                                <img src="images/menu_h.gif" width="114" height="49" border="0" class="domroll images/menu_h_hover.gif" /></a></td>
                                            <td width="1" align="left" valign="top">
                                                <img src="images/mid.gif" width="1" height="49" /></td>
                                            <td width="51" align="left" valign="top">
                                                <img src="images/pen_end.gif" width="51" height="49" /></td>
                                        </tr>
                                    </table>

                                    <!--HTML for Flex Drop Down Menu 1-->
                                    <ul id="flexmenu1" class="flexdropdownmenu">
                                        <li><a href="#">About</a>
                                            <ul>
                                                <li><a href="aboutus.aspx">Quality Quest</a></li>
                                                <li><a href="technology_first.aspx">Technology First</a></li>
                                                <li><a href="winning.aspx">Winning By Design</a></li>
                                                <%--	<li><a href="attractive_prices.aspx">Attractive Price</a></li>--%>
                                                <li><a href="detailed.aspx">Detailed To Perfection</a></li>
                                                <li><a href="reaching.aspx">Reaching Out</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="history.aspx">History</a></li>
                                        <li><a href="Infrastructure.aspx">Infrastructure</a></li>
                                        <li><a href="mission.aspx">Mission Statement</a></li>
                                        <li><a href="awards.aspx">Awards/Certification</a>	</li>
                                        <li><a href="quilityrd.aspx">Quality/R & D</a>	</li>
                                    </ul>


                                    <ul id="flexmenu2" class="flexdropdownmenu">
                                        <li><a href="product_exclusive1.aspx">Exclusive Pen Series</a></li>
                                        <li><a href="product_gelrolloverpen1.aspx">Gel Roller Pen Series</a></li>
                                        <li><a href="product_ballroller1.aspx">Ball Roller Pen Series</a></li>
                                        <li><a href="product_gelpen1.aspx">Gel Pen Series</a></li>
                                        <li><a href="product_liquid1.aspx">Liquid Fluid Pen Series</a></li>
                                        <li><a href="product_premium1.aspx">Premium Stationery Series</a></li>
                                        <li><a href="product_ballrollerrefill1.aspx">Refill Series</a></li>
                                        <li><a href="FreeInkRollerSeries.aspx">Free Ink Roller Series</a></li>
                                        <li><a href="product_pen_next_gen_series1.aspx">Nex-Gen Series</a></li>
                                        <li><a href="product_pen_softline_series1.aspx">Softline Series</a></li>
                                    </ul>




                                    <ul id="flexmenu3" class="flexdropdownmenu">
                                        <li><a href="#">Promotion</a>
                                            <ul>
                                                <li><a href="VideoGallery.aspx">TV Advertisement</a></li>
                                                <li><a href="press.aspx">Press Advertisement</a></li>


                                            </ul>
                                        </li>
                                        <li><a href="wallpaper.aspx">Wallpaper</a></li>
                                    </ul>




                                </td>
                                <td width="10" align="right">
                                    <img src="images/spacer.gif" width="10" height="1" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
            <table width="1000px" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="white">
                <tr>
                    <td width="1%" align="left" valign="top">
                        <img src="images/spacer.gif" width="15" height="1" /></td>
                    <td width="97%" align="right" valign="top" bgcolor="#f0f0f0">

                        <table width="952" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="600" align="left" valign="top">
                                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="199" align="left" valign="top">
                                                <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <img src="images/spacer.gif" width="1" height="10" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" class="redtxt">About Us</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <img src="images/spacer.gif" width="1" height="4" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellspacing="2" cellpadding="2">
                                                                <tr>
                                                                    <td width="5%" align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td width="96%" align="left" valign="middle" class="netra"><a href="aboutus.aspx">About Us</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td align="left" valign="middle" class="netra"><a href="history.aspx">History</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td align="left" valign="middle" class="netra"><a href="Infrastructure.aspx">Infrastructure</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td align="left" valign="middle" class="netra"><a href="mission.aspx">Mission Statement</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td align="left" valign="middle" class="netra"><a href="awards.aspx">Awards/Certification</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td align="left" valign="middle" class="netra"><a href="quilityrd.aspx">Quality R&amp;D</a></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <img src="images/spacer.gif" width="1" height="4" /></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="158" align="center" valign="top">
                                                <table width="80%" border="0" align="left" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <img src="images/spacer.gif" width="1" height="10" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" class="redtxt">Products</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <img src="images/spacer.gif" width="1" height="4" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellspacing="2" cellpadding="2">
                                                                <tr>
                                                                    <td width="5%" align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td width="96%" align="left" valign="middle" class="netra"><a href="product_exclusive1.aspx">Exclusive Pen Series</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td align="left" valign="middle" class="netra"><a href="product_gelrolloverpen1.aspx">Gel Roller Pen Series</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="5%" align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td width="96%" align="left" valign="middle" class="netra"><a href="product_ballroller1.aspx">Ball Roller Pen Series</a></td>
                                                                </tr>

                                                                <tr>
                                                                    <td align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td align="left" valign="middle" class="netra"><a href="product_gelpen1.aspx">Gel Pen Series</a></td>
                                                                </tr>

                                                                <tr>
                                                                    <td align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td align="left" valign="middle" class="netra"><a href="product_liquid1.aspx">Liquid Fluid Pen Series</a></td>
                                                                </tr>

                                                                <tr>
                                                                    <td align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td align="left" valign="middle" class="netra"><a href="product_premium1.aspx">Premium Stationery</a></td>
                                                                </tr>

                                                                <tr>
                                                                    <td align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td align="left" valign="middle" class="netra"><a href="product_ballrollerrefill1.aspx">Refill Series</a></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <img src="images/spacer.gif" width="1" height="4" /></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="169" align="center" valign="top">
                                                <table width="80%" border="0" align="right" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <img src="images/spacer.gif" width="1" height="10" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" class="redtxt">Downloads</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <img src="images/spacer.gif" width="1" height="4" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" align="right" cellpadding="2" cellspacing="2">
                                                                <tr>
                                                                    <td align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td align="left" valign="middle" class="netra"><a href="VideoGallery.aspx">TV Advertisment</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td align="left" valign="middle" class="netra"><a href="press.aspx">Press Releases</a></td>
                                                                </tr>

                                                                <tr>
                                                                    <td align="center" valign="middle">
                                                                        <img src="images/arrow1.gif" width="4" height="7" /></td>
                                                                    <td align="left" valign="middle" class="netra"><a href="wallpaper.aspx">Wallpapers</a></td>
                                                                </tr>

                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <img src="images/spacer.gif" width="1" height="4" /></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="350" align="left" valign="middle">
                                    <img src="images/tweeter.jpg" width="305" height="55" border="0" usemap="#Map2" /></td>
                            </tr>
                        </table>

                    </td>
                    <td width="1%" align="right" valign="top" bgcolor="#f0f0f0">&nbsp;</td>
                    <td width="1%" align="left" valign="top">
                        <img src="images/spacer.gif" width="15" height="1" /></td>
                </tr>


                <tr bgcolor="#ffffff">
                    <td width="1%" align="left" valign="top" bgcolor="#ffffff">
                        <img src="images/spacer.gif" width="15" height="10" /></td>
                    <td width="97%" align="right" valign="top" bgcolor="#ffffff">
                        <img src="images/spacer.gif" width="15" height="10" /></td>
                    <td width="1%" align="right" valign="top" bgcolor="#ffffff">
                        <img src="images/spacer.gif" width="15" height="10" /></td>
                    <td width="1%" align="left" valign="top" bgcolor="#ffffff">
                        <img src="images/spacer.gif" width="15" height="10" /></td>
                </tr>

            </table>
            <table width="1000px" border="0" align="center" cellpadding="0" cellspacing="0" align="center">
                <%--<tr>
        <td width="17" height="1" valign="bottom" bgcolor="#ffffff">&nbsp;</td>
        <td width="1000" valign="top" bgcolor="#ffffff">&nbsp;</td>
        <td width="17" valign="top" bgcolor="#ffffff">&nbsp;</td>
      </tr>--%>
                <tr>
                    <td width="17" height="15" align="center" valign="middle" bgcolor="#B6B6B6">&nbsp;</td>
                    <td width="1000" valign="top" bgcolor="#B6B6B6">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">

                            <tr>
                                <td height="40" valign="middle">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="15" height="20" class="bot_text_link">
                                                <img src="images/spacer.gif" width="15" height="1" /></td>
                                            <td width="482" class="textone">© 2010, Add Pens Private Limited. All Rights Reserved.</td>
                                            <td width="67" class="bot_text_link"><a href="disclaimer.aspx">Disclaimer</a> </td>
                                            <td width="9" class="textone">| </td>
                                            <td width="196" class="bot_text_link"><a href="privacy.aspx">Privacy Policy</a></td>
                                            <td width="129">&nbsp;</td>
                                            <td width="104" class="bot_text_link"><a href="http://www.kwebmaker.com/ " target="_blank">K Webmaker™</a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="17" valign="top" bgcolor="#B6B6B6" height="15"></td>
                </tr>
            </table>
        </div>
    </form>

    <script src="chrisdomroll.js"></script>

    <map name="Map2" id="Map2">
        <area shape="rect" coords="1,5,157,52" href="http://twitter.com/#!/addpens" target="_blank" />
        <area shape="rect" coords="190,3,304,53" href="http://www.facebook.com/home.php?sk=group_158551130842585" target="_blank" />
    </map>
    <script type="text/javascript">



        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19103515-1']);
        _gaq.push(['_trackPageview']);
        (function () {

            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

        })();
    </script>
</body>
</html>
