

#footer{
	height: 43px; /* .push must be the same height as .footer */
    padding-top:10px;
    /*border-top:1px solid black; */
    width:500px;
    margin:0pt auto 0px;
}
#footer div p{
  width:500px;
}

 #push {
	height: 43px; /* .push must be the same height as .footer */
    padding-top:10px;
}
#wrapper{
	width:684px;
	min-height: 96%;
	height: auto !important;
	height: 96%;
	text-align:left;
	margin: 0 auto -30px;
	padding:0 10px 0px 10px;
}

#mainone{
	width:684px;
	min-height: 96%;
	height: auto !important;
	height: 96%;
	text-align:left;
	
}
.clearfix{
	clear:both;
	float:none;
}
#bigPic{
	width:684px;
	height:342px;

	background-color:#FFF;

}
#bigPic img{
	position:absolute;
	display:none;
}
ul#thumbs li.active{
	border:2px solid #ccc;	
	background:#fff;
	padding:2px;
}
ul#thumbs, ul#thumbs li{
	margin:0;
	padding:0;
	list-style:none;
}
	
ul#thumbs li{
	float:left;
	margin-right:7px;
	margin-bottom:5px;
	border:1px solid #CCC;	
	padding:3px;
	cursor:pointer;
}
ul#thumbs img{
	float:left;
	width:155px;
	height:58x;
	line-height:80px;
	overflow:hidden;
	position:relative;
	z-index:1;		
}
