﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MissionStatement.ascx.cs" Inherits="MissionStatement" %>
<div align="justify"><asp:Label ID="lblattractiveprices" runat="server" ></asp:Label></div>