﻿<%@ Page Language="C#" MasterPageFile="~/main.master" AutoEventWireup="true" CodeFile="press.aspx.cs" Inherits="press" Title="Add Gel - Press Advertisement" %>

<%@ Register src="app.ascx" tagname="app" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table width="1000px" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF"
        align="center">
        <tr>
            <td align="left" valign="top">
                <img src="images/spacer.gif" width="10" height="10" />
            </td>
        </tr>
        <tr>
            <td align="left" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="15" align="left" valign="top">
                            <img src="images/spacer.gif" width="15" height="1" />
                        </td>
                        <td align="left" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="23%" align="left" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="226">
                                            <tr>
                                                <td align="left" valign="top">
                                                    <img height="14" src="images/toppr.gif" width="226" /></td>
                                            </tr>
                                            <tr>
                                                <td align="left" background="images/prbg.gif" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td align="left" valign="top" width="6%">
                                                                &nbsp;</td>
                                                            <td align="left" valign="top" width="94%">
                                                                <uc1:app ID="app1" runat="server" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">
                                                    <img height="16" src="images/bot.gif" width="226" /></td>
                                            </tr>
                                        </table>
        </td>
        <td width="77%" align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="left" valign="top" >
                        &nbsp;
                    </td>
                    <td width="99%" align="left" valign="top">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="right" valign="top">
                                    <div id="info">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
<td width="1%" align="left" valign="top">
&nbsp;
</td>
<td width="99%" align="left" valign="top">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td align="right" valign="top">
    <table width="716" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="left" valign="top" background="images/probg.gif">
                <table width="716" border="0" align="right" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left" valign="top" class="press">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="75" align="left" valign="top">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <table width="684" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                                 <td align="center" valign="middle"><script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','425','height','400','src','gallery2','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','gallery2' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="425" height="400">
      <param name="movie" value="gallery2.swf" />
      <param name="quality" value="high" />
      <param name="wmode" value="transparent" />
      <embed src="gallery2.swf" width="425" height="400" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
    </object>
</noscript></td>
                                                        </tr>
                                                       
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
       
<tr>
    <td align="left" valign="top" background="images/probg.gif" class="pressbot">
        &nbsp;
    </td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="left" valign="top">
&nbsp;
</td>
<td align="left" valign="top">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="12" align="right" valign="top">
                            <img src="images/spacer.gif" width="15" height="1" />
                        </td>
                    </tr>
                </table>
</asp:Content>

