﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="product_premium.aspx.cs" Inherits="product_premium" Title="ADD Gel - Premium" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" /> 
     <style>
        .utility {
            background-image: url(../images/utility_series.jpg);
            background-repeat: no-repeat;
            background-position: right top;
            height: 192px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="1%" align="left" valign="top">&nbsp;</td>
                          <td width="99%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="right" valign="top">
                              <div id="info">
                              <table width="716" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td align="left" valign="top" background="images/probg.gif"><table width="716" border="0" align="right" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" class="utility"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tr>
                                            <td height="45" align="left" valign="top">&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td align="center" valign="top"><table width="684" border="0" align="center" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                      <td align="left" valign="top"><img id="bannerimg" runat="server" width="684" height="213" /></td>
                                                    </tr>
                                                  </table></td>
                                                </tr>
                                                <tr>
                                                  <td align="left" valign="top"><img id="bannerfooterimg" runat="server" width="684" height="40" /></td>
                                                </tr>
                                            </table></td>
                                          </tr>
                                      </table></td>
                                    </tr>
                                    <tr>
                                      <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                      <td><img id="logoimg" runat="server"  width="189" height="30" /></td>
                                    </tr>
                                  </table></td>
                                </tr>
                                <tr>
                                  <td align="left" valign="top" background="images/probg.gif">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="left" valign="top" background="images/probg.gif"><%--<table width="684" border="0" align="center" cellpadding="2" cellspacing="2">
                                    <tr>
                                      <td align="left" valign="top" bgcolor="#f7f5f6" class="textone"><strong>
                                          <asp:label id="lblball" runat="server" text=""></asp:label>
                                      </strong></td>
                                      </tr>
                                    <tr>
                                      <td align="left" valign="top" class="textone"><asp:label id="lbldescription" runat="server" text=""></asp:label></td>
                                    </tr>
                                  </table>--%></td>
                                </tr>
                                <tr>
                                  <td align="left" valign="top" background="images/probg.gif">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="center" valign="top" background="images/probg.gif" class="premimumbot">
                                  <table width="684" border="0" align="center" cellpadding="2" cellspacing="2">
                                    <tr>
                                      <td align="left" valign="top" bgcolor="#f7f5f6" class="textone"><strong>
                                          <asp:label id="lblball" runat="server" text=""></asp:label>
                                      </strong></td>
                                      </tr>
                                    <tr>
                                      <td align="left" valign="top" class="textone"><asp:label id="lbldescription" runat="server" text=""></asp:label></td>
                                    </tr>
                                  </table>
                                  </td>
                                </tr>
                                
                              </table>
                                  </div>
                              </td>
                            </tr>
                          </table></td>
                        </tr>
                      </table>
    </div>
    </form>
</body>
</html>
