﻿<%@ Page Language="C#" MasterPageFile="~/main1.master" AutoEventWireup="true" CodeFile="product_pengiftseriesdetails.aspx.cs" Inherits="product_premiumdeatils"  %>

<%@ Register src="app.ascx" tagname="app" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<script type="text/javascript" src="js/jquery-1.2.6.pack.js"></script> 

<script type="text/javascript" src="js/stepcarousel.js"></script>
<script type="text/javascript">
    function show_image(src) {

        document.getElementById('Zoomimage').src = "Addgel/adminImage/" + src;    
    
    }
</script>

<script type="text/javascript">
stepcarousel.setup({
	galleryid: 'scroll3', //id of carousel DIV
	beltclass: 'belt', //class of inner "belt" DIV containing all the panel DIVs
	panelclass: 'panel', //class of panel DIVs each holding content
	panelbehavior: {speed:500, wraparound:true, persist:false},
	autostep: {enable:true, moveby:1, pause:3000},
	defaultbuttons: {enable: false, moveby: 1},
	statusvars: ['statusA1', 'statusB1', 'statusC1'], //register 3 variables that contain current panel (start), current panel (last), and total panels
	contenttype: ['inline'] //content setting ['inline'] or ['external', 'path_to_external_file']
})

</script><style type="text/css">
#scroll3{overflow: hidden;
                 top: 0px;
                 left: 0px;
             }
</style>
<style type="text/css">
.mbox{width:100%; height:90px; background:url(/images/newimg/bgban.gif) no-repeat 0 0; padding:10px; float:left}
.r_35t { font:bold 35px/35px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#bc0108; }
.r_11 { font:bold 11px Arial; color:#bc0108; }
.r_14 { font:bold 14px Arial; color:#bc0108; }
.gD_12 { font:12px Arial; color:#555555 }
.gD_15 { font:15px Arial; color:#555555 }
.MT5 { margin-top:5px; }
.MB10 { margin-bottom:10px; }
.scroll_3 { position:relative; overflow:scroll; width:600px; height:91px; }
.scroll_3 .belt { position:absolute; left:0; top:0; }
.scroll_3 .panel { float:left; overflow:hidden; width:175px; margin-right:2px }
</style>
<!--End Best Price-->


<!-- Photo Gallery -->

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery_carousel.js"></script>
 

<style type="text/css">

.r_11 { font:bold 11px Arial; color:#bc0108; }
.r_14 { font:bold 14px Arial; color:#bc0108; }
.gD_12 { font:12px Arial; color:#555555 }
.gD_19 { font:19px Arial; color:#515151; text-decoration:none;} 
.gL_12 {font:12px Arial; color:#666666;} .gL_15 {font:15px Arial; color:#666666;}
.MT5 { margin-top:5px; } .MT10 { margin-top:10px; }  .PR5 {padding-right:5px;} .PL5 {padding-left:5px;} .PL10 {padding-left:10px;} .PB5 {padding-bottom:5px;}
.MB10 { margin-bottom:10px; }
.FL {float:left;}
.FR {float:right;}
.CL {clear:both;}


#container .js{overflow:hidden;zoom:1;}
#container .carousel,
#container .carousel .carousel-wrap{margin:0;border:0;zoom:1;}
#container .js .carousel-wrap{width:285px;margin:5px 0px;}
.IE #container .js .carousel-wrap{display:inline;}
#container .carousel ul{margin:0;padding:0;zoom:1;}
#container .js ul li{overflow:hidden;display:inline;height:150px;}
#container .carousel div{margin:0;padding:0;border:0;}
#container .carousel ul{padding:0;list-style:none;}
#container div.center-wrap{overflow:hidden;clear:both;zoom:1;}
#container div.center-wrap div{border:0;margin:5px 0;}
#container div.center-wrap a{margin:0 2px;padding:2px 5px;cursor:pointer;color:#fff;-moz-border-radius:12px;webkit-border-radius:12px;border-radius:12px;}
#container div.center-wrap a.active{font-weight:bold;color:#5db0e6;}



</style>

        <style>
        .giftpen {
   background-image: url(../images/gift_series.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    height: 192px;
}
    </style>
<!-- Photo Gallery -->
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table width="1000px" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" align="center">
      <tr>
        <td align="left" valign="top"><img src="images/spacer.gif" width="10" height="10" /></td>
      </tr>
      <tr>
        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="15" align="left" valign="top"><img src="images/spacer.gif" width="15" height="1" /></td>
                 
                  <td  align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="23%" align="left" valign="top"><table width="226" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="left" valign="top"><img src="images/toppr.gif" width="226" height="14" /></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" background="images/prbg.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="6%" align="left" valign="top">&nbsp;</td>
                              <td width="94%" align="left" valign="top">
                                  <uc1:app ID="app1" runat="server" />
                                </td>
                            </tr>
                          </table>                         </td>
                          </tr>
                        <tr>
                          <td align="left" valign="top"><img src="images/bot.gif" width="226" height="16" /></td>
                        </tr>
                      </table></td>
                      <td width="77%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="1%" align="left" valign="top">&nbsp;</td>
                          <td width="99%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="right" valign="top">
                               <div id="info">
            
            <table width="716" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td align="left" valign="top" background="images/probg.gif"><table width="716" border="0" align="right" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" class="giftpen">
                                      
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tr>
                                            <td height="45" align="left" valign="top">&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td align="center" valign="top"><table width="684" border="0" align="center" cellpadding="0" cellspacing="0">
                                              <tr>
                                                <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                      <td id="zoom" align="left" valign="top"><img id="Zoomimage" runat="server" border="0" width="684" height="322" onclick="return Zoomimage_onclick()" /></td>
                                                    </tr>
                                                </table></td>
                                              </tr>
                                            </table></td>
                                          </tr>
                                          <tr>
                                            <td align="left" valign="top">&nbsp;</td>
                                          </tr>
                                          
                                      </table>
                                      
                                      </td>
                                    </tr>
                                    
                                    <tr>
                                      <td><table width="684" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tr>                                        
                                        
                                <td align="left" class="content2">
                             
                             <%--<asp:DataList id="DLProduct"  width="150" height="75" 
                                            ItemStyle-VerticalAlign="Top" border="0" CellPadding="1"  CellSpacing="3"  
                                            RepeatColumns="4" RepeatDirection="Horizontal" runat="server"                                         
                                            onitemcommand="datalist_command">         
                                         <ItemTemplate>                             
                        
                                <table id=dltable runat="server" width="100%" border="0" cellpadding="2" cellspacing="2">
                                  <tr>
                                    <td align="center" valign="top">
                                        <asp:LinkButton ID="lnklarge1" CommandName="Large1" runat="server">  
                                   <img id="Img2" alt="" src='Admin/adminImage/<%#(Eval("Product_ThumbnailImage"))%>' width="155" height="58" border="0" /> </asp:LinkButton> 
                                        <asp:Label ID="lblzoom1" runat="server" Text='<%#(Eval("Product_ZoomImage"))%>' Visible="false"></asp:Label>
                                   </td>                                   
                                  </tr>                                
                                </table>
                                   </ItemTemplate>
                                    <ItemStyle VerticalAlign="Top"></ItemStyle>
                                    </asp:DataList>--%>
                                    
                                    
                                    <table width="684" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tr>                                        
                                        
                                <td align="left" class="content2">
                             
                             <%--<asp:DataList id="DLProduct"  width="150" height="75" 
                                            ItemStyle-VerticalAlign="Top" border="0" CellPadding="1"  CellSpacing="3"  
                                            RepeatColumns="4" RepeatDirection="Horizontal" runat="server"                                         
                                            onitemcommand="datalist_command">         
                                         <ItemTemplate>                             
                        
                                <table id=dltable runat="server" width="100%" border="0" cellpadding="2" cellspacing="2">
                                  <tr>
                                    <td align="center" valign="top">
                                        <asp:LinkButton ID="lnklarge1" CommandName="Large1" runat="server">  
                                   <img id="Img2" alt="" src='Admin/adminImage/<%#(Eval("Product_ThumbnailImage"))%>' width="155" height="58" border="0" /> </asp:LinkButton> 
                                        <asp:Label ID="lblzoom1" runat="server" Text='<%#(Eval("Product_ZoomImage"))%>' Visible="false"></asp:Label>
                                   </td>                                   
                                  </tr>                                
                                </table>
                                   </ItemTemplate>
                                    <ItemStyle VerticalAlign="Top"></ItemStyle>
                                    </asp:DataList>--%>
                                    <table width="684" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tr>                                        
                                        
                                <td align="left" class="content2">
                             
                             
                             <div class="mbox">
		
			
			<div style="height:10px">
				<div class="FL" 
                    onclick="javascript:stepcarousel.stepBy(&#39;scroll3&#39;, -1);" 
                    style="cursor:pointer; width:14px; padding:25px 10px 0 0; height: 35px;"><img src="images/prev.jpg" width="8" height="14" alt=""></div>
				<div id="scroll3" class="FL scroll_3">
					<div class="belt" style="width: 300px; bottom: 81px;">
									  <asp:Label ID="lblpictures" runat="server" ></asp:Label>			 						
												 						
												 						
								
												 					
											</div>
				</div>
				<div class="FR" onclick="javascript:stepcarousel.stepBy(&#39;scroll3&#39;, 1);" 
                    style="cursor:pointer; width:27px; padding:25px 10px 0 0"><img src="images/next.jpg" width="8" height="14" alt=""></div>
				<div class="CL"></div>
				
					</div>
	
		</div>
                             
                             
                            
                            </td>
                              
                                          
                                        </tr>
                                      </table>
                            </td>
                              
                                          
                                        </tr>
                                      </table>
                            </td>
                              
                                          
                                        </tr>
                                      </table></td>
                                    </tr>
                                  </table></td>
                                </tr>
                              
                                <tr>
        <td align="left" valign="top" background="images/probg.gif" class="Gift_bot">&nbsp;</td>
                                  <table width="684" border="0" align="center" cellpadding="2" cellspacing="2">
                                    <tr>
                                      <td align="left" valign="top" bgcolor="#f7f5f6" class="textone"><strong>
                                          <asp:Label ID="lblhead" runat="server" Text=""></asp:Label>
                                      </strong></td>
                                      </tr>
                                    <tr>
                                      <td align="left" valign="top" class="textone">
                                          <asp:Label ID="lbldescription" runat="server" Text=""></asp:Label></td>
                                    </tr>
                                    <tr>
                                    <td>
                                  
                                    <br />
                                    </td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top" class="textone">
                                          <asp:Label ID="lblfeatures" runat="server" Text=""></asp:Label>
                                     </td>
                                    </tr>
                                    <tr>
                                    <td align="center" valign="top" class="textone">
                                        <asp:ImageButton ID="btntellafriend" runat="server" Width="110px" Height="19px" 
                                            ImageUrl="~/images/tellafriend.gif" onclick="btntellafriend_Click" />
                                        &nbsp;&nbsp;
                                        <asp:ImageButton ID="btnenquiry" runat="server" Width="110px" Height="19px" 
                                            ImageUrl="~/images/enquirenow.gif" onclick="btnenquiry_Click" />
                                        
                                    </td>
                                        
                                    </tr>
                                  </table>
                                  </td>
                                </tr>
                                
                              </table>
            
            </div>
                              </td>
                            </tr>
                          </table></td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td align="left" valign="top">&nbsp;</td>
                      <td align="left" valign="top">&nbsp;</td>
                    </tr>
                  </table></td>
                  <td width="12"  align="right" valign="top"><img src="images/spacer.gif" width="15" height="1" /></td>
              </tr>
                
          </table></td>
      </tr>
    </table>
</asp:Content>

