﻿<%@ Page Language="C#" MasterPageFile="~/main1.master" AutoEventWireup="true" CodeFile="quilityrd.aspx.cs" Inherits="quilityrd" Title="ADD Gel - Quality R&D" %>

<%@ Register src="about.ascx" tagname="about" tagprefix="uc1" %>

<%@ Register src="QualityRND.ascx" tagname="QualityRND" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table width="1000px" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" align="center">
      <tr>
        <td align="left" valign="top"><img src="images/spacer.gif" width="10" height="10" /></td>
      </tr>
      <tr>
        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="15" align="left" valign="top"><img src="images/spacer.gif" width="15" height="1" /></td>
                 
                  <td  align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="23%" align="left" valign="top">
                          <uc1:about ID="about1" runat="server" />
                        </td>
                      <td width="77%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="1%" align="left" valign="top">&nbsp;</td>
                          <td width="99%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="right" valign="top"><table width="716" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td align="left" valign="top" background="images/probg.gif"><table width="716" border="0" align="right" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" class="aboutus"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tr>
                                            <td height="45" align="left" valign="top">&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td align="left" valign="top"><table width="684" border="0" align="center" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                      <td align="left" valign="top"><img src="images/quality_r&d.jpg" width="684" height="149" /></td>
                                                    </tr>
                                                  </table></td>
                                                </tr>
                                                
                                            </table></td>
                                          </tr>
                                      </table></td>
                                    </tr>
                                    
                                    
                                  </table></td>
                                </tr>
                                <tr>
                                  <td align="left" valign="top" background="images/probg.gif">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="left" valign="top" background="images/probg.gif"><table width="684" border="0" align="center" cellpadding="2" cellspacing="2">
                                    <tr>
                                      <td align="left" valign="top" bgcolor="#f7f5f6" class="textone"><strong>Quality / R & D </strong></td>
                                      </tr>
                                    <tr>
                                      <td align="left" valign="top" class="textone">
                                      
                                      <%--ADD Corporation Limited is committed to achieve total consumer satisfaction through the following objectives.--%><uc2:QualityRND 
                                              ID="QualityRND1" runat="server" />
                                        </td>
                                    </tr>
                                    <%--<tr>
                                      <td align="left" valign="top" class="textone"><table width="100%" border="0" cellspacing="1" cellpadding="1">
                                        <tr>
                                          <td width="2%" align="left" valign="middle"><img src="images/bullet12.gif" width="7" height="8" /></td>
                                          <td width="98%" align="left" valign="top" class="textone">Be a benchmark for product quality and pricing.</td>
                                        </tr>
                                        <tr>
                                          <td align="left" valign="middle"><img src="images/bullet12.gif" width="7" height="8" /></td>
                                          <td align="left" valign="top" class="textone">Be a pioneer in product innovation and introduction.</td>
                                        </tr>
                                        <tr>
                                          <td align="left" valign="middle" ><img src="images/bullet12.gif" width="7" height="8" /></td>
                                          <td align="left" valign="top" class="textone">Be proactive to consumer needs and aspirations.</td>
                                        </tr>
                                        <tr>
                                          <td align="left" valign="middle"><img src="images/bullet12.gif" width="7" height="8" /></td>
                                          <td align="left" valign="top" class="textone">Easy access and wider choice of products worldwide.</td>
                                        </tr>
                                        <tr>
                                          <td align="left" valign="middle"><img src="images/bullet12.gif" width="7" height="8" /></td>
                                          <td align="left" valign="top" class="textone">Highest standards of corporate governance.</td>
                                        </tr>
                                        
                                      </table></td>
                                    </tr>--%>
                                    <tr>
                                      <td align="left" valign="top" class="textone">&nbsp;</td>
                                    </tr>
                                  </table></td>
                                </tr>
                                
                                <tr>
                                  <td align="left" valign="top" background="images/probg.gif" class="aboutusbot">&nbsp;</td>
                                </tr>
                                
                              </table></td>
                            </tr>
                          </table></td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td align="left" valign="top">&nbsp;</td>
                      <td align="left" valign="top">&nbsp;</td>
                    </tr>
                  </table></td>
                  <td width="12"  align="right" valign="top"><img src="images/spacer.gif" width="15" height="1" /></td>
                </tr>
                
          </table></td>
      </tr>
    </table>
</asp:Content>

