﻿<%@ Page Language="C#" MasterPageFile="~/main1.master" AutoEventWireup="true" CodeFile="sample_slider.aspx.cs" Inherits="sample_slider" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">


<link rel="stylesheet" href="css/basic.css" type="text/css" media="screen"  />
<!--link before import prevents Flash Of Unstyled Content in ie6 -->
<style type="text/css">@import/**/"css/layout.css";</style>
<link rel="stylesheet" href="css/print.css" type="text/css" media="print"  />
<!-- jQuery -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript" src="js/general.js"></script>
<!-- jCarousel -->
<script type="text/javascript" src="js/jquery.jcarousel.pack.js"></script>
<link rel="stylesheet" type="text/css" href="skins/tango/skin.css" />
<script type="text/javascript">

function mycarousel_initCallback(carousel)
{
    // Disable autoscrolling if the user clicks the prev or next button.
    carousel.buttonNext.bind('click', function() {
        carousel.startAuto(0);
    });

    carousel.buttonPrev.bind('click', function() {
        carousel.startAuto(0);
    });

    // Pause autoscrolling if the user moves with the cursor over the clip.
    carousel.clip.hover(function() {
        carousel.stopAuto();
    }, function() {
        carousel.startAuto();
    });
};

jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
        auto: 6,
        wrap: 'last',
        initCallback: mycarousel_initCallback
    });
});

</script>



</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center"><img src="images/1.jpg" width="960" height="351" border="0" usemap="#Map" /></td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center"><style type="text/css">
<!--
body {
	background-image: url(images/bg.jpg);
}
-->
</style></head>

<div id="wrapper">
	<div id="inner-wrapper">
	  <ul id="mycarousel" class="jcarousel-skin-tango"><li><a class="fadeThis"><div class="info hover"><p>Project name</p></div>
       	<img src="images/pic.jpg" alt="" width="244" height="122" /></a></li>
        	
        
        
        
        <div id="Div1">
	<div id="Div2">
	  <ul id="Ul1" class="jcarousel-skin-tango">
	  
	    	<li><a class="fadeThis"><div class="info hover"><p>Project name</p></div>
        	<img src="images/Addpenbanner10.jpg" alt="" width="244" height="122" /></a></li>

        	
        	<li><a class="fadeThis"><div class="info hover"><p>Project name<br /></div>
		    <img src="images/Addpenbanner10.jpg" alt="" width="244" height="122" /></a></li>
        	
		    <li><a class="fadeThis"><div class="info hover"><p>Project name</p></div>
		    <img src="images/Addpenbanner10.jpg" alt="" width="244" height="122" /></a></li>
		    
		    <li><a class="fadeThis"><div class="info hover"><p>project name</p></div>
        	<img src="images/Addpenbanner10.jpg" alt="" width="244" height="122" /></a></li>

        	
		    <li><a class="fadeThis"><div class="info hover"><p>Project name</p></div>
		    <img src="images/Addpenbanner10.jpg" alt="" width="244" height="122" /></a></li>
		    
		    <li><a class="fadeThis"><div class="info hover"><p>Project name</p></div>
		    <img src="images/Addpenbanner10.jpg" alt="" width="244" height="122" /></a></li>
	            <%--<asp:DataList id="DLProduct"  width="150" height="75" 
                                            ItemStyle-VerticalAlign="Top" border="0" CellPadding="1"  CellSpacing="3"  
                                            RepeatColumns="4" RepeatDirection="Horizontal" runat="server"                                         
                        >         
                                         <ItemTemplate>  
	  
	  
	  
	  
	  <li><a class="fadeThis"><div class="info hover"><p>Project name</p></div>
     <%--  	<img src="images/pic.jpg" alt="" width="244" height="122" />
     
     
                     <asp:LinkButton ID="lnklarge1" CommandName="Large1" runat="server">  
                                   <img id="Img2" alt="" src='Admin/adminImage/<%#(Eval("Product_ThumbnailImage"))%>' width="155" height="58" border="0" /> </asp:LinkButton> 
                                  <%--      <asp:Label ID="lblzoom1" runat="server" Text='<%#(Eval("Product_ZoomImage"))%>' Visible="false"></asp:Label>
     
     
     </a></li>
        	
        	

			 </ItemTemplate>
                                    <ItemStyle VerticalAlign="Top"></ItemStyle>
                                    </asp:DataList>
			
	    </ul>

        
        <div class="3_cols"></div>
  </div>
</div>
        
			
	    </ul>

        
        <div class="3_cols"></div>
  </div>
</div></td>
  </tr>

</table>--%> 


<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center"><img src="images/1.jpg" width="960" height="351" border="0" usemap="#Map" /></td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center"><style type="text/css">
<!--
body {
	background-image: url(images/bg.jpg);
}
-->
</style></head>

<div id="wrapper">
	<div id="inner-wrapper">
	  <ul id="mycarousel" class="jcarousel-skin-tango">
	  
<%--	  <li><a class="fadeThis"><div class="info hover"><p>Project name</p></div>
       	<img src="admin/adminImage/Addpenbanner10.jpg" alt="" width="244" height="122" /></a></li>
        	
        	<li><a class="fadeThis"><div class="info hover"><p>Project name</p></div>
        	<img src="admin/adminImage/Addpenbanner10.jpg" alt="" width="244" height="122" /></a></li>

        	
        	<li><a class="fadeThis"><div class="info hover"><p>Project name<br /></div>
		    <img src="admin/adminImage/Addpenbanner10.jpg" alt="" width="244" height="122" /></a></li>
        	
		    <li><a class="fadeThis"><div class="info hover"><p>Project name</p></div>
		    <img src="admin/adminImage/Addpenbanner10.jpg" alt="" width="244" height="122" /></a></li>
		    
		    <li><a class="fadeThis"><div class="info hover"><p>project name</p></div>
        	<img src="admin/adminImage/Addpenbanner10.jpg" alt="" width="244" height="122" /></a></li>

        	
		    <li><a class="fadeThis"><div class="info hover"><p>Project name</p></div>
		    <img src="admin/adminImage/Addpenbanner10.jpg" alt="" width="244" height="122" /></a></li>
		    
		    <li><a class="fadeThis"><div class="info hover"><p>Project name</p></div>
		    <img src="admin/adminImage/Addpenbanner10.jpg" alt="" width="244" height="122" /></a></li>--%>
		    
		    
		    
	  
	  
	       <%-- 
	  <li><a class="fadeThis"><div class="info hover"><p>Project name</p></div>
 	<img src="images/pic.jpg" alt="" width="244" height="122" />--%>
     
     
     
          <asp:Label ID="lblpictures" runat="server" ></asp:Label>
     
		    
			
			
	    </ul>

        
        <div class="3_cols"></div>
  </div>
</div></td>
  </tr>
  
  
 
</table>





</asp:Content>

