﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="sample.aspx.cs" Inherits="sample" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>jQuery Hover Effect</title>
<script type='text/javascript' src='http://yoursite.com/jquery.js'></script>
<script type='text/javascript'>
    $(document).ready(function() {
        $(".button").hover(function() {
        $(this).attr("src", "Addpenbanner16.jpg");
        }, function() {
        $(this).attr("src", "Addpenbanner1.jpg");
        });
    });
</script>
</head>
 
<body>
    <img src="Addgel/AdminImage/Addpenbanner1.jpg" alt="My button" class="button" />

</body>
</html>
