﻿<%@ Page Language="C#" MasterPageFile="~/main1.master" AutoEventWireup="true" CodeFile="sample_javascript.aspx.cs" Inherits="sample_javascript" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">

<link rel="stylesheet" href="thumbnailviewer.css" type="text/css" />

<script src="thumbnailviewer.js" type="text/javascript">

 
</script>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<%--<script type="text/javascript">
    function show_image() {


        document.getElementById("Zoomimage").src = "admin/adminImage/Addpenbanner10.jpg";   
       // alert("Hello ! Vishal Narvekar"); 


    }
</script>--%>



<form id="frm" name="frm"  >


<p><a href="Addgel/adminImage/Addpenbanner10.jpg" rel="thumbnail"><img src="Addgel/adminImage/Addpenbanner10.jpg" style="width: 50px; height: 50px" /></a></p>
</form>
</asp:Content>

