#accordion h3 {
	cursor:pointer;
	margin:0 0 0;
	padding:5px 3px;
	border:1px solid #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #000;
	background-color: #f1f1f1;
	vertical-align:middle;
}
#accordion .element { font-family:Arial; font-size:12px; color:Black;}
#accordion .element img {padding-bottom:0px;padding-top:0px;position:static;}
#accordion .element div {padding:2px 0 0px;}
#accordion .element p {padding:0 0 10px;}
#accordion h3 span {padding-left:18px;
background:url(acc_arr.gif) no-repeat 0px -33px;}/*-33*/
#accordion h3:hover span {background-position:0px 0px;}
#accordion h3.on {background:#fbd8d8;color:#ff0000;border-color:#fff;}
#accordion h3.on span,
#accordion h3.on:hover span {background-position:0 -66px;}
#accordion table {
	background:#fff;
	width:100%;
	/*width:680px;*/
}
/*#accordion table {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	line-height:18px;
	margin:0 0 2px;
	border-top:0px solid #fff;
	border-bottom:0px solid #ccc; 
	background:#fff;
	width:680px;
}*/
#accordion th,
#accordion td {padding:1px 8px;border-bottom:0px solid #ccc;}