﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TechnologyFirst.ascx.cs" Inherits="TechnologyFirst" %>
<div align="justify"><asp:Label ID="lbltechnologyfirst" runat="server" ></asp:Label></div>