﻿<%@ Page Language="C#" MasterPageFile="~/main1.master" AutoEventWireup="true" CodeFile="video.aspx.cs" Inherits="video" Title="ADD Gel - Video" %>

<%@ Register src="about.ascx" tagname="about" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table width="1000px" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" align="center">
      <tr>
        <td align="left" valign="top"><img src="images/spacer.gif" width="10" height="10" /></td>
      </tr>
      <tr>
        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="15" align="left" valign="top"><img src="images/spacer.gif" width="15" height="1" /></td>
                 
                  <td  align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="23%" align="left" valign="top">
                          <uc1:about ID="about1" runat="server" />
                        </td>
                      <td width="77%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="1%" align="left" valign="top">&nbsp;</td>
                          <td width="99%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="right" valign="top"><table width="716" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td align="left" valign="top" background="images/probg.gif"><table width="716" border="0" align="right" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" class="vidio"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tr>
                                            <td height="45" align="left" valign="top">&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td  align="center" valign="top"><span class="textone">
                                                <asp:Label ID="lblvideo" runat="server" Text="" width="680" height="385"></asp:Label>
                                                
                                            </span></td>
                                          </tr>
                                      </table></td>
                                    </tr>
                                    
                                    
                                  </table></td>
                                </tr>
                                <tr>
                                  <td align="left" valign="top" background="images/probg.gif">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="left" background="images/probg.gif">
                             
                             <asp:DataList id="DLProduct"  width="150" height="75" 
                                            ItemStyle-VerticalAlign="Top" border="0" CellPadding="1"  CellSpacing="3"  
                                            RepeatColumns="4" RepeatDirection="Horizontal" runat="server"                                         
                                            onitemcommand="datalist_command">         
                                         <ItemTemplate>                             
                        
                                <table id=dltable runat="server" width="100%" border="0" cellpadding="5" cellspacing="5" >
                                  <tr>
                                    <td align="center" valign="top">
                                        <asp:LinkButton ID="lnklarge1" CommandName="Large1" runat="server">  
                                   <img id="Img2" alt=""  src='Addgel/adminImage/<%#(Eval("videoImage"))%>' width="150" height="149" border="0" /> </asp:LinkButton> 
                                        <asp:Label ID="lblzoom1" runat="server" Text='<%#(Eval("EmbedCode"))%>' Visible="false"></asp:Label>
                                   </td>                                   
                                  </tr>                                
                                </table>
                                   </ItemTemplate>
                                    <ItemStyle VerticalAlign="Top"></ItemStyle>
                                    </asp:DataList>
                            </td>
                                </tr>
                                
                                <tr>
                                  <td align="left" valign="top" background="images/probg.gif" class="aboutusbot">&nbsp;</td>
                                </tr>
                                
                              </table></td>
                            </tr>
                          </table></td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td align="left" valign="top">&nbsp;</td>
                      <td align="left" valign="top">&nbsp;</td>
                    </tr>
                  </table></td>
                  <td width="12"  align="right" valign="top"><img src="images/spacer.gif" width="15" height="1" /></td>
                </tr>
                
          </table></td>
      </tr>
    </table>
</asp:Content>

