﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="video.ascx.cs" Inherits="video" %>
<table width="684" border="0" align="center" cellpadding="2" cellspacing="2">
                                    
                                    <tr>
                                      <td width="175" align="left" valign="top" class="textone"><a href="video.aspx"><img src="images/thumb1.jpg" width="150" height="149" border="0" /></a></td>
                                      <td width="175" align="left" valign="top" class="textone"><a href="video2.aspx"><img src="images/thumb2.jpg" width="150" height="149" border="0" /></a></td>
                                      <td align="left" valign="top" class="textone"><a href="video3.aspx"><img src="images/thumb3.jpg" width="150" height="149" border="0" /></a></td>
                                    </tr>
                                    <tr>
                                      <td colspan="3" align="left" valign="top" class="textone">&nbsp;</td>
                                    </tr>
                                  </table>
