﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WinningByDesign.ascx.cs" Inherits="WinningByDesign" %>
<div align="justify"><asp:Label ID="lblwinningbydesign" runat="server" ></asp:Label></div>