﻿<%@ Page Language="C#" MasterPageFile="~/Addgel/Admin.master" AutoEventWireup="true" CodeFile="CategoryReorderAdmmin.aspx.cs" Inherits="Admin_CategoryReorderAdmmin" Title="Add Gel" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table width="100%">
<tr>
<td align="center">
<b>
Category Re-Order
</b><hr />
</td>
   
</tr>
<tr>
<td>
 <asp:Label ID="lblreodercategroy" runat="server" Text=""></asp:Label>
</td>
</tr>
    <tr>
    <td align="center">
        &nbsp;</td>
    </tr>
    <tr>
    <td align="center">
        <asp:RadioButtonList ID="RBLReorder" runat="server" AutoPostBack="True" 
            onselectedindexchanged="RBLReorder_SelectedIndexChanged" 
            RepeatDirection="Horizontal">
            <asp:ListItem Selected="True" Value="1">Pen</asp:ListItem>
            <asp:ListItem Value="2">Refill</asp:ListItem>
        </asp:RadioButtonList>
        </td>
    </tr>
    
    <tr>
    <td align="center">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:ListBox ID="ListBox1" runat="server" Height="254px" Width="219px" 
            DataTextField="C_CategoryName" DataValueField="C_Id"></asp:ListBox>
        <asp:Button ID="btnup" runat="server" Text="^" Font-Bold="true" 
            onclick="btnup_Click" Height="25px" Width="26px" />
        <asp:Button ID="btndown" runat="server" Text="v" Font-Bold="true" 
            onclick="btndown_Click" Height="26px" Width="25px"/>
    </td>
    
    </tr>
    <tr>
    <td align="center">
        <asp:Button ID="btnsave" runat="server" Text="Save" Height="30px" 
            onclick="btnsave_Click" Width="63px" /> 
        
        </td>
    </tr>
    </table>
</asp:Content>

