﻿<%@ Page Language="C#" MasterPageFile="~/Addgel/Admin.master" AutoEventWireup="true" CodeFile="cms.aspx.cs" Inherits="Admin_cms" Title="Add Gel - CMS" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit.HTMLEditor"
    TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div>
<table width="100%">
<tr>
<td>
<b><asp:Label ID="LblHead" runat="server" Text=""></asp:Label></b>
</td>
</tr>
<tr>
<td>
    <asp:Label ID="Label1" runat="server" Text=""></asp:Label>
 
</td>
</tr>
<tr>
<td>
    &nbsp;</td>
</tr>
<tr>
<td>
 
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
   <cc1:Editor ID="Editor1" runat="server" AutoFocus="False" /> 
     
</td>
</tr>
<tr>
<td>
    <asp:Button CssClass="submit"   ID="BtnUpdate" runat="server" 
        OnClientClick="return confirm('Are you sure you want to Update Data?');" 
        onclick="BtnUpdate_Click" Text="Update" 
         /></td>
</tr>
</table>
</div>
</asp:Content>

