﻿<%@ Page Language="C#" MasterPageFile="~/Addgel/Admin.master" AutoEventWireup="true" CodeFile="GiftingDeatilsUpdate.aspx.cs" Inherits="Admin_GiftingDeatilsUpdate" Title="Add Gel" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table>
<tr>
<td colspan="2">

</td>
</tr>
<tr>
<td colspan="2" align="center">
    <asp:Label ID="lblupdate" runat="server" Text=""></asp:Label>
</td>
</tr>
<tr>
<td>
Title
</td>
<td>
   <asp:TextBox ID="txtproductname" runat="server" Height="22px" Width="398px"></asp:TextBox>  
</td>
</tr>
<tr>
<td>
Description
</td>
<td>
     <asp:TextBox ID="txtdescription" TextMode="MultiLine" runat="server" 
                    Height="64px" Width="399px"></asp:TextBox> 
</td>
</tr>
<tr>
<td>
Thumbnail Image
</td>
<td>
  <asp:FileUpload ID="FUthumbnail" runat="server" />
</td>
</tr>
<tr>
<td>
Zoom Image
</td>
<td>
 <asp:FileUpload ID="FUzoom" runat="server" />
</td>
</tr>
<tr>
<td colspan="2" align="center">
    <asp:Button ID="btnupdate" runat="server" Text="Update" 
        onclick="btnupdate_Click" />
</td>
</tr>
<tr>
<td>
    <asp:Image ID="Image1" runat="server" Height="100px" Width="100px"/>
    <asp:Image ID="Image2" runat="server" Height="100px" Width="100px" />
    <asp:HiddenField ID="hfthumbimg" runat="server" />   
    <asp:HiddenField ID="hfzoomimg" runat="server" />
    <asp:HiddenField ID="HiddenField1" runat="server" />
</td>
</tr>
</table>

</asp:Content>

