﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="HQAGP.aspx.cs" Inherits="Admin_AdminPage" Title="~~ : Welcome to Add Gel - Admin Page : ~~" %>
<%@ OutputCache Duration="1" Location="None" VaryByCustom="None" VaryByHeader="None" VaryByParam="None" %>
<%@ Register TagPrefix="cc1" Namespace="WebControlCaptcha" Assembly="WebControlCaptcha" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
   
    <title>~~ : Welcome to  Home Page : ~~</title>
    
    <style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #ffffff;
}

        .style2
        {
            width: 716px;
        }

    </style>
       

</head>
<body >
   <form id="form2" runat="server" enableviewstate="false">
    <div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" valign="top">&nbsp;</td>
      </tr>
      <tr>          
        <td align="center" valign="top"><table width="100%" align="center"><tr>
            <td align="center" class="style2"><img id="Img2" runat="server" src="../adminImage/logo_new.gif" 
                alt="Admin Logo" width="259" height="96" 
                style="margin-left: 0px" /></td></tr></table></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top"><table width="25%" border="0" align="center" cellpadding="0" cellspacing="0" class="border">
          <tr>
            <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" valign="top" ><img alt="" runat="server" src="~/images/spacer.gif" width="1" height="10" /></td>
              </tr>
              <tr>
                <td align="center" valign="top" class="data"> Login</td>
              </tr>
              <tr>
                <td align="left" valign="top" class="data">
                <table width="100%" >
    <tr>
    <td  >
     <table border="0" style="width: 100%" >
    
    <tr >
    
    <td  height="30"; align="left" class="data">
    Name&nbsp&nbsp
    </td>
    
    <td >
    <asp:TextBox ID="TxtName" runat="server" MaxLength="50" Width="151px" AutoCompleteType="Disabled"></asp:TextBox>
    </td>
    </tr>
    <tr>
    <td align="left" class="data">
    Password&nbsp&nbsp
    </td>
        <td>
    <asp:TextBox ID="TxtPassword" runat="server" MaxLength="50" Width="151px" TextMode="Password" AutoCompleteType="Disabled"></asp:TextBox>
    </td>
    </tr>
    
    <tr>
    <td align="right">
        <img alt="" runat="server" src="~/images/spacer.gif"  width="1" height="10" /></td>
        <td>
            <img id="Img1" alt="" runat="server" src="~/images/spacer.gif"  width="1" height="10" /></td>
    </tr>
    
    
    <%--<tr>
    <td colspan="2">
   
        <div>
           
            <cc1:CaptchaControl ID="CaptchaControl1" runat="server" />
            &nbsp;
            <asp:ValidationSummary ID="ValidationSummary2" runat="server" />
            <p></p>
          (note that ViewState and SessionState are both <strong>disabled</strong>)<br />
            <br />
            <asp:Button ID="Button1" runat="server" Text="Submit" />
            
        </div>
   
    </td>
    </tr>--%>
    
    
    
    
    
    <tr>
    <td colspan="2" align="center">
        
        <asp:Button ID="BtnLogin" runat="server"  OnClick="BtnLogin_Click" Text="Login" />
        </td>
    
        
    </tr>
    
    
    </table>
    </td>
    </tr>
   
    <tr>
    <td align="center">
    <asp:Label ID="Lbltry" runat="server"></asp:Label>
    </td>
    </tr>
    </table>
                </td>
              </tr>
              
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
   <table>
    <tr>
    <td>
        <asp:RegularExpressionValidator ID="REName" runat="server" ControlToValidate="TxtName" Display="None" ValidationExpression="^[0-9a-zA-Z]+$"></asp:RegularExpressionValidator>
        <asp:RegularExpressionValidator ID="REPassword" runat="server" ControlToValidate="TxtPassword" Display="None" ValidationExpression="^[0-9a-zA-Z]+$"></asp:RegularExpressionValidator><br />
        <asp:ValidationSummary ID="ValidationSummary1" runat="server" DisplayMode="List"
            HeaderText="Enter Alpha Numeric Text" ShowMessageBox="True" ShowSummary="False" />
        
        </td>
    </tr>
   </table>
    </div>
    </form>
</body>
</html>
