﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="sample_encrypt.aspx.cs" Inherits="sample_encrypt" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body onload ="">
    <form id="form1" runat="server">
    <div>
       
       <table>
       <tr>
       
       <td>     <asp:TextBox ID="txtencrypt" runat="server"></asp:TextBox></td>
       
       <td>  <asp:Button ID="Button1" runat="server" Text="Encrypt" 
               onclick="Button1_Click" />
                         <asp:Label ID="lblencrypt" runat="server" ></asp:Label>
               
               </td>
       </tr>
       
       
        <tr>
       
       <td>     <asp:TextBox ID="txtdecrypt" runat="server"></asp:TextBox></td>
       
       <td>  <asp:Button ID="Button2" runat="server" Text="Decrypt" 
               onclick="Button2_Click" />
               
           <asp:Label ID="lbldecrypt" runat="server" ></asp:Label>
               
               
               </td>
       </tr>
       
       
       </table>
       
   

      
        

    </div>
    </form>
</body>
</html>
