<%@ Page Language="C#" MasterPageFile="~/Addgel/Admin.master" AutoEventWireup="true" CodeFile="webprofile.aspx.cs" Inherits="admin_Default" Title="Controlling the front end sTatic articles"  ValidateRequest="false" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">




<FIELDSET><LEGEND><SPAN style="FONT-WEIGHT: bold; padding-right:5px; font-size : small; FONT-FAMILY: Verdana">Static Content</SPAN></LEGEND>

<table width="100%">
<tr width="100%">

<td width="100%">

 <div class="roundcont2" style="width:100%">
<div class="roundtop" style="width:100%" >
<img src="../images/hleft.gif" height="5" width="5" alt="" class="corner">
<%--<div class="dcnt"><span class="content3">Search By CMS Title/Description</span></div> --%>
</div>
</div>



<div class="contentdisplay" style="width:100%">
<div class="contentdis5" style="width:100%">

<%--<table width="100%">
<tr>

<td align="Center">
<span class="Content2" >
Search By CMS Title/Description :
</span> 
</td>
<td align="left"  >


<asp:TextBox runat="server" id="find" class="textbox" size="50" />
</td>



<td align="left" >
<asp:Button ID="Button1" runat="server" class="submit" tooltip="Go find it!" OnClick="AdminSearch_Click" Text="Search"/>

</td>


</tr>


</table>--%>
</div>
</div>



</td></tr>


<tr width="100%"><td>






 <asp:Label ID="lblmsg" runat="server"  CssClass="content2" ></asp:Label><br />
<asp:DataGrid runat="server" id="dgrd_Product" cssclass="hlink" AutoGenerateColumns="False"
     Backcolor="#ffffff" BorderStyle="none" BorderColor="#E1EDFF" cellpadding="5" 
        Width="100%" HorizontalAlign="Center" DataKeyField="web_id" 
        OnPageIndexChanged="New_Page"  OnItemDataBound="dgProduct_ItemDataBound"  
        OnDeleteCommand="Delete_Products" onItemCommand="Edit_Handle"> 
     <headerStyle Font-Bold="True" BackColor="#6898D0" cssclass="header" />
     <AlternatingItemStyle BackColor="White" />                                      
     <Columns>    
     <asp:BoundColumn DataField="web_id" Visible="false" HeaderText="ID" SortExpression="ID" />   
     <asp:BoundColumn DataField="web_type" HeaderText="Profile Name" SortExpression="Name" />

         <asp:BoundColumn DataField="web_post_date" HeaderText="Last updated" DataFormatString="{0:d}" SortExpression="Name" />
     <asp:ButtonColumn CommandName="edit" HeaderStyle-ForeColor="white" 
             HeaderStyle-Font-Underline="true" HeaderText="Edit" 
             Text='<img border="0" src="../images/icon_edit.gif">' >

<HeaderStyle Font-Underline="True" ForeColor="White"></HeaderStyle>
         </asp:ButtonColumn>

     <asp:ButtonColumn Text='<img border="0" src="../images/icon_delete.gif">' Visible="false" HeaderText="Delete" CommandName="Delete" />
     </Columns>
     <PagerStyle Mode="NumericPages" BackColor="#fcfcfc" HorizontalAlign="left" />
    </asp:DataGrid>
<!--End display datagrid-->

<!--Begin display pager button-->
    </td></tr>

<tr><td>


<asp:Label ID="LblPageInfoTop" Visible="false" cssClass="content2" runat="server" />
<asp:Label ID="lblrecordperpageTop" Visible="false" cssClass="content2" runat="server" />

<br />

</td></tr>


</table>
<!--End display pager button-->    </FIELDSET>      

</asp:Content>



